flows_casi.json

[{"id":"884ccfec.25997","type":"tab","label":"remote-connection"},{"id":"2ba1266e.dba6fa","type":"tab","label":"UPS "},{"id":"d0a8d90d.6106b8","type":"tab","label":"Horn/Buzzer"},{"id":"d1bc1834.5e2ff8","type":"tab","label":"Auto Tune"},{"id":"e373b426.d0aae8","type":"tab","label":"VIS Input/Output"},{"id":"140bfa15.10f126","type":"tab","label":"Setpoints"},{"id":"245557e0.e4eda8","type":"tab","label":"Control"},{"id":"d30ba9ad.c4fcc8","type":"tab","label":"Digital Inputs/Outputs"},{"id":"b3ee3345.03148","type":"tab","label":"Runtimes and counters"},{"id":"299c454c.c4d7da","type":"tab","label":"Network"},{"id":"6caead07.7d34f4","type":"tab","label":"Startup"},{"id":"566c1d5e.fed044","type":"tab","label":"Flow 2"},{"id":"fbb9db32.447f68","type":"json-db-collection","z":"140bfa15.10f126","name":"setSP0","collection":"setSP00","save":true},{"id":"9e2fae63.30cb9","type":"json-db-collection","z":"140bfa15.10f126","name":"setPS1","collection":"setPS01","save":true},{"id":"cdbb0da2.d5d27","type":"json-db-collection","z":"140bfa15.10f126","name":"setSP2","collection":"setSP02","save":true},{"id":"8d8bf6bc.600018","type":"json-db-collection","z":"140bfa15.10f126","name":"setSP3","collection":"setSP03","save":true},{"id":"7dd9887a.e2f028","type":"json-db-collection","z":"140bfa15.10f126","name":"setSP4","collection":"setSP04","save":true},{"id":"7283d585.e71dec","type":"json-db-collection","z":"","name":"","collection":"setBC","save":true},{"id":"ead59310.5540f","type":"json-db-collection","z":"","name":"","collection":"setBR","save":true},{"id":"15bbd325.70754d","type":"json-db-collection","z":"","name":"","collection":"setBVC","save":true},{"id":"6ad73776.cbc2a8","type":"json-db-collection","z":"","name":"","collection":"setBV","save":true},{"id":"845fc459.19ca08","type":"json-db-collection","z":"","name":"","collection":"setAC","save":true},{"id":"7f983d46.39cdd4","type":"modbus-client","z":"","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"38400","serialDatabits":"8","serialStopbits":"1","serialParity":"odd","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"1cbf6fdb.473b7","type":"json-db-collection","z":"","name":"","collection":"startup","save":true},{"id":"de60abf.d50e558","type":"vis in","z":"d0a8d90d.6106b8","language":"en","x":172,"y":189,"wires":[["4322c4aa.1f778c"]]},{"id":"c0c2e6e9.712e58","type":"exec","z":"d0a8d90d.6106b8","command":"sudo i2cset -y 1 0x6B 0x0e 1047 w","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":469,"y":126.5,"wires":[[],[],[]]},{"id":"5bb054eb.87932c","type":"inject","z":"d0a8d90d.6106b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":183,"y":121,"wires":[["c0c2e6e9.712e58"]]},{"id":"4322c4aa.1f778c","type":"exec","z":"d0a8d90d.6106b8","command":"sudo i2cset -y 1 0x6B 0x10 10","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":466,"y":187,"wires":[[],[],[]]},{"id":"a5a06773.df6598","type":"function","z":"d30ba9ad.c4fcc8","name":"Input 2: X2","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":431.5,"y":125.296875,"wires":[["3e532f7f.f30a2"]]},{"id":"e89db56f.3b7c28","type":"function","z":"d30ba9ad.c4fcc8","name":"Input 1: X1","func":"msg.payload = msg.payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":438.8929138183594,"y":67.22544860839844,"wires":[["772c1688.62f1a8"]]},{"id":"8107fc65.c0e7e","type":"function","z":"d30ba9ad.c4fcc8","name":"Array","func":"\n\nvar newMsgPS1 = { payload: msg.payload [0] };\nvar newMsgPS2 = { payload: msg.payload [1] };\nreturn [newMsgPS1, newMsgPS2];\n","outputs":"2","noerr":0,"x":251.357177734375,"y":423.58258056640625,"wires":[[],[]]},{"id":"3ebc3aaa.25fa96","type":"comment","z":"d30ba9ad.c4fcc8","name":"*** Read Modbus Settings ","info":"Global Network Settings\nIP: 169.254.119.60\nMask: 255.255.255.0\nGlobal IP: 169.254.255.255\n\nControl Network Settings\nIP: 169.254.119.10\nMask: 255.255.255.0\nGlobal IP: 169.254.119.1\n\nNode Red Modbus TCP Settings\nIP: 169.254.119.10\nPort: 502\nUnit: 1\n\n\n**Make sure Control Network Settings IP and Node Red Modbus IP address match***\n**Must have Static IP address for Modbus TCP/IP to work properly***\n\n\n\n","x":556.357177734375,"y":28.58258056640625,"wires":[]},{"id":"3fa8fafa.e1aff6","type":"comment","z":"d30ba9ad.c4fcc8","name":"Inputs Read Only","info":"","x":170.35717010498047,"y":116.58257865905762,"wires":[]},{"id":"df15423c.c1f9f","type":"comment","z":"d30ba9ad.c4fcc8","name":"Output Read/Write ","info":"","x":1136.3571701049805,"y":448.5825881958007,"wires":[]},{"id":"5ec0da81.123db4","type":"range","z":"d30ba9ad.c4fcc8","minin":"0x000","maxin":"0x0480","minout":"0","maxout":"15.00","action":"scale","round":false,"name":"IMPINGER PRESS","x":644.5357666015625,"y":234.18972778320312,"wires":[["1adc0194.d4728e","e8b853d5.574b4"]]},{"id":"9ff58d3d.488db","type":"range","z":"d30ba9ad.c4fcc8","minin":"0x000","maxin":"0x0480","minout":"0.00","maxout":"15.00","action":"scale","round":false,"name":"FAN PRESS","x":442.07147216796875,"y":397.5468444824219,"wires":[["810027d6.628cc8","c3f8df1c.677cb"]]},{"id":"f7063f8e.5ef25","type":"function","z":"d30ba9ad.c4fcc8","name":"custom function","func":"// declare place holder variables\nvar originalval1 = msg.payload;\nvar varps1 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps1 = parseFloat(originalval1).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760.6428833007812,"y":330.4397277832031,"wires":[["2d8de0e8.6d7bb"]]},{"id":"47411864.ded268","type":"function","z":"d30ba9ad.c4fcc8","name":"custom function","func":"// declare place holder variables\nvar originalval2 = msg.payload;\nvar varps2 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps2 = parseFloat(originalval2).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps2;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":873.357177734375,"y":376.58258056640625,"wires":[["e90c7126.6bf78"]]},{"id":"2d8de0e8.6d7bb","type":"function","z":"d30ba9ad.c4fcc8","name":"actFilt","func":"global.set ('actFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":933.9127197265625,"y":294.8524169921875,"wires":[[]]},{"id":"e90c7126.6bf78","type":"function","z":"d30ba9ad.c4fcc8","name":"actPres","func":"global.set ('actPres', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1123.6746826171875,"y":321.32867431640625,"wires":[["15e66efd.4b2a81"]]},{"id":"c86e4805.f5fce8","type":"function","z":"d30ba9ad.c4fcc8","name":"float","func":"global.set ('flt', msg.payload);\n//if (global.get ('step2')===1) {global.set('flt', 0);}\nreturn msg;","outputs":1,"noerr":0,"x":902.5912818908691,"y":90.85243320465088,"wires":[[]]},{"id":"7cd2e7e6.62d028","type":"function","z":"d30ba9ad.c4fcc8","name":"phase","func":"if (global.get ('phase_check')===0) {global.set('phase', 1);\nreturn msg;}\nelse global.set ('phase', msg.payload); \nreturn msg;","outputs":1,"noerr":0,"x":889.4365158081055,"y":185.99524593353271,"wires":[[]]},{"id":"772c1688.62f1a8","type":"change","z":"d30ba9ad.c4fcc8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.6270141601562,"y":71.42386627197266,"wires":[["c86e4805.f5fce8"]]},{"id":"3e532f7f.f30a2","type":"change","z":"d30ba9ad.c4fcc8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.7698364257812,"y":110.56672668457031,"wires":[["7cd2e7e6.62d028"]]},{"id":"8e055b72.3f61c8","type":"function","z":"d30ba9ad.c4fcc8","name":"global get blwr","func":"if (global.get ('blwr') <= 2 && \nglobal.get ('blwr') >0) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":505.3413314819336,"y":863.2810134887695,"wires":[["569885e0.f0218c"]]},{"id":"f04f5cc0.2873e","type":"inject","z":"d30ba9ad.c4fcc8","name":"Inject once at start","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":190.13887786865234,"y":603.8762283325195,"wires":[["ccf048b.db0b5b8"]]},{"id":"569885e0.f0218c","type":"switch","z":"d30ba9ad.c4fcc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":692.1031723022461,"y":863.8047561645508,"wires":[["c6466844.12a648"],["c6466844.12a648","84544be.400eab8"]]},{"id":"c6466844.12a648","type":"rbe","z":"d30ba9ad.c4fcc8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":927.9126052856445,"y":919.7095287867955,"wires":[["84544be.400eab8"]]},{"id":"802933e9.bd114","type":"function","z":"d30ba9ad.c4fcc8","name":"global get blwr","func":"if (global.get ('blwr') === 2 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":689.9127426147461,"y":724.2809524536133,"wires":[["84298673.e75428"]]},{"id":"84298673.e75428","type":"switch","z":"d30ba9ad.c4fcc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":884.4841537475586,"y":750.138313293457,"wires":[["49910381.6c6bdc"],["49910381.6c6bdc","7686b2ff.942ffc"]]},{"id":"49910381.6c6bdc","type":"rbe","z":"d30ba9ad.c4fcc8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":959.1985092163086,"y":818.7096633911133,"wires":[["7686b2ff.942ffc"]]},{"id":"a40a583d.5ccdf8","type":"function","z":"d30ba9ad.c4fcc8","name":"global get ballvalve","func":"if (global.get ('ballvalve') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":707.3413314819336,"y":674.2810134887695,"wires":[["b7b3b6b8.33b6b8"]]},{"id":"b7b3b6b8.33b6b8","type":"switch","z":"d30ba9ad.c4fcc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":899.6269760131836,"y":647.8525466918945,"wires":[["ce1a1013.0fb52"],["1244627b.f6287e"]]},{"id":"5a6de21.713731c","type":"trigger","z":"d30ba9ad.c4fcc8","op1":"","op2":"ddd","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"s","reset":"99","name":"","x":285.3413314819336,"y":785.602424621582,"wires":[["ce5974b0.68b228","8e055b72.3f61c8","a1aa5564.1d79d8"]]},{"id":"ccf048b.db0b5b8","type":"delay","z":"d30ba9ad.c4fcc8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268.1627426147461,"y":726.3881301879883,"wires":[["5a6de21.713731c"]]},{"id":"ce5974b0.68b228","type":"delay","z":"d30ba9ad.c4fcc8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":271.4127426147461,"y":883.8881912231445,"wires":[["5a6de21.713731c"]]},{"id":"ce1a1013.0fb52","type":"trigger","z":"d30ba9ad.c4fcc8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"3","extend":true,"units":"s","reset":"99","name":"valve off delay","x":885.9126815795898,"y":569.566535949707,"wires":[["1244627b.f6287e"]]},{"id":"48783fbb.7090d","type":"change","z":"d30ba9ad.c4fcc8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filter_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1286.6269760131836,"y":184.11408233642578,"wires":[["f4a6c9d4.0a9d48"]]},{"id":"15e66efd.4b2a81","type":"change","z":"d30ba9ad.c4fcc8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"scrub_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1302.6509017944336,"y":291.5667190551758,"wires":[["f4a6c9d4.0a9d48"]]},{"id":"1244627b.f6287e","type":"modbus-write","z":"d30ba9ad.c4fcc8","name":"Water Valve: Y3","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"7f983d46.39cdd4","x":1162.3572006225586,"y":555.868293762207,"wires":[[],[]]},{"id":"7686b2ff.942ffc","type":"modbus-write","z":"d30ba9ad.c4fcc8","name":"Aux Relay: Y2","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"7f983d46.39cdd4","x":1174.6428451538086,"y":724.2968826293945,"wires":[[],[]]},{"id":"84544be.400eab8","type":"modbus-write","z":"d30ba9ad.c4fcc8","name":"Motor  Y1 ","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7f983d46.39cdd4","x":1151.8332748413086,"y":864.3444900512695,"wires":[[],[]]},{"id":"8aefc7f4.f64728","type":"comment","z":"d30ba9ad.c4fcc8","name":"demo mode modification","info":"comment out line 2 for normal operation","x":972.0000228881836,"y":131.61829376220703,"wires":[]},{"id":"42e27687.7d9608","type":"function","z":"d30ba9ad.c4fcc8","name":"global set filter_pressure","func":"var filter_pressure = global.get ('filter_pressure') || 0;\nvar newval4 = Math.abs(global.get('actFilt') - global.get ('actPres'));\nglobal.set('filter_pressure', newval4);\nmsg.topic = 'filter_pressure';\nmsg.payload = global.get('filter_pressure');\nreturn msg;","outputs":1,"noerr":0,"x":1144.5000228881836,"y":245.86829376220703,"wires":[["48783fbb.7090d"]]},{"id":"77e0a77e.3bf478","type":"inject","z":"d30ba9ad.c4fcc8","name":"One Sec PULSE","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":true,"x":913.0000228881836,"y":239.86829376220703,"wires":[["42e27687.7d9608"]]},{"id":"a1aa5564.1d79d8","type":"function","z":"d30ba9ad.c4fcc8","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1) { \nmsg.payload = 1;\nreturn msg;} \nelse\nif (global.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;}\nelse\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":511.5000228881836,"y":763.868293762207,"wires":[["ffbc09df.0ae4f8"]]},{"id":"ffbc09df.0ae4f8","type":"switch","z":"d30ba9ad.c4fcc8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":429.59529876708984,"y":685.4137649536133,"wires":[[],["a40a583d.5ccdf8","802933e9.bd114"]]},{"id":"2f46c451.f779ec","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":912.3571701049805,"y":517.5825881958008,"wires":[["1244627b.f6287e"]]},{"id":"74191e7b.c49cf","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1095.3572006225586,"y":628.5825881958008,"wires":[["7686b2ff.942ffc"]]},{"id":"667485c1.b8f0cc","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":1062.3572006225586,"y":670.5825881958008,"wires":[["7686b2ff.942ffc"]]},{"id":"c12c2ee4.24b34","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":918.3571701049805,"y":459.5825881958007,"wires":[["1244627b.f6287e"]]},{"id":"f4a6c9d4.0a9d48","type":"vis in","z":"d30ba9ad.c4fcc8","language":"en","x":1538.0000076293945,"y":219.58258438110352,"wires":[[]]},{"id":"7ba9ad70.a151b4","type":"modbus-read","z":"d30ba9ad.c4fcc8","name":"Float Switch INPUT 1","showStatusActivities":false,"unitid":"","dataType":"Input","adr":"1","quantity":"1","rate":"3","rateUnit":"s","server":"7f983d46.39cdd4","x":155.89844512939453,"y":50.499996185302734,"wires":[["e89db56f.3b7c28","9f82589.75955a8"],[]]},{"id":"cb9bcd86.894fd","type":"modbus-read","z":"d30ba9ad.c4fcc8","name":"PHASE RELAY INPUT 2","showStatusActivities":false,"unitid":"","dataType":"Input","adr":"0","quantity":"1","rate":"3","rateUnit":"s","server":"7f983d46.39cdd4","x":160.76674870082297,"y":170.64285223824635,"wires":[["a5a06773.df6598"],[]]},{"id":"a7ca01ef.f1aa8","type":"exec","z":"299c454c.c4d7da","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"","name":"System Reboot","x":655,"y":365,"wires":[[],[],[]]},{"id":"15693051.808e4","type":"switch","z":"299c454c.c4d7da","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"reboot","vt":"str"}],"checkall":"true","outputs":1,"x":457,"y":355.5,"wires":[["a7ca01ef.f1aa8"]]},{"id":"81d81152.5c52a","type":"exec","z":"299c454c.c4d7da","command":"sudo ifconfig","addpay":true,"append":"","useSpawn":false,"timer":"","name":"ifconfig","x":438,"y":136.5,"wires":[["7c04c160.b77eb"],[],[]]},{"id":"2e404079.540f3","type":"inject","z":"299c454c.c4d7da","name":"get ip - eth0","topic":"ip","payload":"eth0","payloadType":"str","repeat":"3","crontab":"","once":true,"x":230,"y":103,"wires":[["81d81152.5c52a"]]},{"id":"7c04c160.b77eb","type":"function","z":"299c454c.c4d7da","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"CASI \\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokens = input.split(\":\", 10);\n\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokens[7].split(\" \", 1);\noutString += \"\\n\" + \"IP Address: \" + inet[0];\n\n// Get the 8th token (example: \"Bcast:192.168.0.255\")\n// and get the substring from character 7 to the end\nbcast = tokens[8].split(\" \", 1);\noutString += \"\\n\" + \"Bcast: \" + bcast[0];\n\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nmask = tokens[9].split(\" \", 1);\noutString += \"\\n\" + \"Mask: \" + mask[0];\n\n// Don't send a message if the IF is the known default. Change to default ip.\nif (inet==\"192.168.0.120\") { \n//outString = \"\"; // set output to null if ip is the same so no message is sent\nreturn null;\n}else{\n// return the final output\nreturn {payload: outString};\n}\n","outputs":1,"noerr":0,"x":715.2500076293945,"y":158.75000095367432,"wires":[["e0733a20.c62f78"]]},{"id":"e0733a20.c62f78","type":"delay","z":"299c454c.c4d7da","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":321,"y":275.5,"wires":[["da5cf8a0.5f3c18"]]},{"id":"da5cf8a0.5f3c18","type":"change","z":"299c454c.c4d7da","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"network","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":275.5,"wires":[["bfd8e0e8.e402d"]]},{"id":"67ddf0a2.b41bb","type":"switch","z":"299c454c.c4d7da","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"}],"checkall":"true","outputs":1,"x":264,"y":178.5,"wires":[["81d81152.5c52a"]]},{"id":"9cd40d1c.0c4e6","type":"inject","z":"299c454c.c4d7da","name":"","topic":"vis.control.data","payload":"{\"val\": \"main/a_home\", \"ack\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":102.66667556762695,"y":443.49999618530273,"wires":[["bfd8e0e8.e402d"]]},{"id":"110451c6.6bcaae","type":"debug","z":"299c454c.c4d7da","name":"","active":true,"console":"false","complete":"false","x":536.5,"y":513.75,"wires":[]},{"id":"fc3de92e.aa3108","type":"switch","z":"299c454c.c4d7da","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"nav","vt":"str"}],"checkall":"true","outputs":1,"x":347,"y":491.5,"wires":[["110451c6.6bcaae"]]},{"id":"ad222280.bd598","type":"inject","z":"299c454c.c4d7da","name":"reboot!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":285.6666564941406,"y":617.5,"wires":[["bfa2e721.6ec3c8"]]},{"id":"bfa2e721.6ec3c8","type":"exec","z":"299c454c.c4d7da","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"reboot Pi","x":521.4523811340332,"y":706.8988380432129,"wires":[[],[],[]]},{"id":"d91241b.0ed98c","type":"switch","z":"299c454c.c4d7da","name":"reboot","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reboot","vt":"str"}],"checkall":"true","outputs":1,"x":434.714298248291,"y":563.9286060333252,"wires":[["bfa2e721.6ec3c8"]]},{"id":"bfd8e0e8.e402d","type":"vis in","z":"299c454c.c4d7da","language":"en","x":288.8333536783848,"y":371,"wires":[["67ddf0a2.b41bb","15693051.808e4","fc3de92e.aa3108","d91241b.0ed98c"]]},{"id":"39ac216e.7fcafe","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/phase_check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":171.42857933044434,"wires":[["8f84b0e9.778cc"]]},{"id":"8f84b0e9.778cc","type":"DataOut","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","path":"/phase_check","error":false,"x":747.1429138183594,"y":170.14287281036377,"wires":[["41bcc78a.5aa188"]]},{"id":"157c708c.639d3f","type":"inject","z":"6caead07.7d34f4","name":"","topic":"","payload":"startup","payloadType":"str","repeat":"","crontab":"","once":true,"x":189.2142562866211,"y":161.00001525878906,"wires":[["39ac216e.7fcafe","950acbbe.007928","98ccb235.1e48c","405bb583.3c718c"]]},{"id":"41bcc78a.5aa188","type":"function","z":"6caead07.7d34f4","name":"global set phase_check","func":"var phase_check = global.set('phase_check', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1004.7142333984375,"y":169.00001525878906,"wires":[[]]},{"id":"ce8ee042.e73e4","type":"comment","z":"6caead07.7d34f4","name":"Read variables from DB on startup","info":"","x":527.5475921630859,"y":110,"wires":[]},{"id":"ce360ca9.935da","type":"inject","z":"6caead07.7d34f4","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":238.99996948242188,"y":711.0951843261719,"wires":[["9ceaee39.b1b8","891cb53e.da7178","b4e0ef1c.71ff5","661f14b6.b2d8bc"]]},{"id":"9ceaee39.b1b8","type":"function","z":"6caead07.7d34f4","name":"get phase_check","func":"msg.payload = global.get('phase_check');\nmsg.topic = 'phase_check';\nreturn msg;","outputs":1,"noerr":0,"x":566.4126586914062,"y":673,"wires":[["772d5365.ea055c"]]},{"id":"d7894bee.fdb0f8","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/phase_check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":908.4126892089844,"y":673,"wires":[["d4df0dba.fed3c"]]},{"id":"d4df0dba.fed3c","type":"DataIn","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","update":false,"path":"/phase_check","x":1109.8412780761719,"y":670.857177734375,"wires":[]},{"id":"772d5365.ea055c","type":"rbe","z":"6caead07.7d34f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":742.4999694824219,"y":673,"wires":[["d7894bee.fdb0f8"]]},{"id":"e3f25977.55d6b8","type":"comment","z":"6caead07.7d34f4","name":"Set variables to database if changed","info":"","x":632.5,"y":610,"wires":[]},{"id":"891cb53e.da7178","type":"function","z":"6caead07.7d34f4","name":"get setPhi","func":"msg.payload = global.get('setPhi');\nmsg.topic = 'setPhi';\nreturn msg;","outputs":1,"noerr":0,"x":533.9999694824219,"y":719,"wires":[["a3ff2905.888da8"]]},{"id":"4c71814b.31189","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setPhi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":906,"y":719,"wires":[["754a1e59.dffc4"]]},{"id":"754a1e59.dffc4","type":"DataIn","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","update":false,"path":"/setPhi","x":1087.4285888671875,"y":716.857177734375,"wires":[]},{"id":"a3ff2905.888da8","type":"rbe","z":"6caead07.7d34f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":740.0872802734375,"y":719,"wires":[["4c71814b.31189"]]},{"id":"b4e0ef1c.71ff5","type":"function","z":"6caead07.7d34f4","name":"get setPlo","func":"msg.payload = global.get('setPlo');\nmsg.topic = 'setPlo';\nreturn msg;","outputs":1,"noerr":0,"x":522.9999694824219,"y":764,"wires":[["4a097fe9.1d9ce"]]},{"id":"6fa037ca.4128c8","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setPlo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":764,"wires":[["83968fa0.84336"]]},{"id":"83968fa0.84336","type":"DataIn","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","update":false,"path":"/setPlo","x":1076.4285888671875,"y":761.857177734375,"wires":[]},{"id":"4a097fe9.1d9ce","type":"rbe","z":"6caead07.7d34f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":729.0872802734375,"y":764,"wires":[["6fa037ca.4128c8"]]},{"id":"661f14b6.b2d8bc","type":"function","z":"6caead07.7d34f4","name":"get setDirt","func":"msg.payload = global.get('setDirt');\nmsg.topic = 'setDirt';\nreturn msg;","outputs":1,"noerr":0,"x":520.9999694824219,"y":813,"wires":[["17233870.086388"]]},{"id":"52d78e67.4e63e","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setDirt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":883,"y":813,"wires":[["a2843750.c15098"]]},{"id":"a2843750.c15098","type":"DataIn","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","update":false,"path":"/setDirt","x":1064.4285888671875,"y":810.857177734375,"wires":[]},{"id":"17233870.086388","type":"rbe","z":"6caead07.7d34f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":717.0872802734375,"y":813,"wires":[["52d78e67.4e63e"]]},{"id":"950acbbe.007928","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setPhi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":209,"wires":[["d317a19e.d146d"]]},{"id":"98ccb235.1e48c","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setPlo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":536,"y":248,"wires":[["8f36d1a8.6d597"]]},{"id":"405bb583.3c718c","type":"change","z":"6caead07.7d34f4","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/setDirt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":288,"wires":[["ef093f8b.9250e"]]},{"id":"d317a19e.d146d","type":"DataOut","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","path":"/setPhi","error":false,"x":728,"y":220,"wires":[["d4ef566.b4bd8a8"]]},{"id":"8f36d1a8.6d597","type":"DataOut","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","path":"/setPlo","error":false,"x":727,"y":256,"wires":[["2b7c1bf9.d40f94"]]},{"id":"ef093f8b.9250e","type":"DataOut","z":"6caead07.7d34f4","collection":"1cbf6fdb.473b7","name":"","path":"/setDirt","error":false,"x":721,"y":294,"wires":[["d6997879.378ac8"]]},{"id":"d4ef566.b4bd8a8","type":"function","z":"6caead07.7d34f4","name":"global set setPhi","func":"var setPhi = global.set('setPhi', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":979,"y":210,"wires":[[]]},{"id":"2b7c1bf9.d40f94","type":"function","z":"6caead07.7d34f4","name":"global set setPlo","func":"var setPlo = global.set('setPlo', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":976,"y":251,"wires":[[]]},{"id":"d6997879.378ac8","type":"function","z":"6caead07.7d34f4","name":"global set setDirt","func":"var setDirt = global.set('setDirt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":978,"y":290,"wires":[[]]},{"id":"db178ffa.26e1c","type":"inject","z":"6caead07.7d34f4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":629.5,"y":476,"wires":[["d7894bee.fdb0f8","4c71814b.31189","6fa037ca.4128c8","52d78e67.4e63e"]]},{"id":"98fe474a.7fdf68","type":"exec","z":"d30ba9ad.c4fcc8","command":"sudo i2cget -y 1 0x69 0x18 w","addpay":true,"append":"","useSpawn":"","timer":"","name":"Analog 1","x":278,"y":262.5,"wires":[["f4e76d78.be362","939aad37.0addf"],[],[]]},{"id":"36e3574c.5845d8","type":"exec","z":"d30ba9ad.c4fcc8","command":"sudo i2cget -y 1 0x69 0x16 w","addpay":true,"append":"","useSpawn":"","timer":"","name":"Analog 2","x":281,"y":327,"wires":[["3fc45a38.8a6ac6"],[],[]]},{"id":"96d88e66.534b3","type":"inject","z":"d30ba9ad.c4fcc8","name":"Start ","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"x":105,"y":260,"wires":[["f4bac14.2973d4","98fe474a.7fdf68"]]},{"id":"f4e76d78.be362","type":"change","z":"d30ba9ad.c4fcc8","name":"newMsgPS1","rules":[{"t":"set","p":"topic","pt":"msg","to":"newMsgPS1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":437,"y":231,"wires":[["5ec0da81.123db4"]]},{"id":"3fc45a38.8a6ac6","type":"change","z":"d30ba9ad.c4fcc8","name":"newMsgPS2","rules":[{"t":"set","p":"topic","pt":"msg","to":"newMsgPS2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":436,"y":290,"wires":[["9ff58d3d.488db","c5941e11.2b6be"]]},{"id":"1adc0194.d4728e","type":"debug","z":"d30ba9ad.c4fcc8","name":"","active":false,"console":"false","complete":"false","x":676,"y":169,"wires":[]},{"id":"c5941e11.2b6be","type":"debug","z":"d30ba9ad.c4fcc8","name":"","active":true,"console":"false","complete":"false","x":629,"y":448,"wires":[]},{"id":"9909884d.2227e8","type":"comment","z":"d30ba9ad.c4fcc8","name":"Do not change the Analog Settings","info":"","x":155,"y":226,"wires":[]},{"id":"d69f129c.90375","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":828.3333129882812,"y":1098.333251953125,"wires":[["84544be.400eab8"]]},{"id":"f46cf4ee.2e5648","type":"inject","z":"d30ba9ad.c4fcc8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":834.3333129882812,"y":1040.333251953125,"wires":[["84544be.400eab8"]]},{"id":"939aad37.0addf","type":"debug","z":"d30ba9ad.c4fcc8","name":"","active":false,"console":"false","complete":"false","x":462,"y":177,"wires":[]},{"id":"e8b853d5.574b4","type":"smooth","z":"d30ba9ad.c4fcc8","name":"","action":"mean","count":"5","round":"","x":646.5,"y":282,"wires":[["f7063f8e.5ef25"]]},{"id":"810027d6.628cc8","type":"smooth","z":"d30ba9ad.c4fcc8","name":"","action":"mean","count":"5","round":"","x":682.5,"y":393,"wires":[["47411864.ded268"]]},{"id":"c3f8df1c.677cb","type":"debug","z":"d30ba9ad.c4fcc8","name":"","active":true,"console":"false","complete":"false","x":702,"y":504,"wires":[]},{"id":"cc68aecb.3893","type":"inject","z":"2ba1266e.dba6fa","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":146,"y":123,"wires":[["b5926984.ec5118"]]},{"id":"b5926984.ec5118","type":"exec","z":"2ba1266e.dba6fa","command":"sudo /etc/init.d/picofssd start","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":443,"y":156.5,"wires":[[],[],[]]},{"id":"d7e2399.d79dcc8","type":"inject","z":"2ba1266e.dba6fa","name":"","topic":"","payload":"","payloadType":"num","repeat":"10","crontab":"","once":false,"x":171,"y":252,"wires":[["ea232e71.3512e"]]},{"id":"ea232e71.3512e","type":"exec","z":"2ba1266e.dba6fa","command":"sudo python modules/pico_status.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":437,"y":229.5,"wires":[["18146b17.a88c25"],[],[]]},{"id":"c9310ed2.538dd","type":"vis in","z":"2ba1266e.dba6fa","language":"en","x":515,"y":415,"wires":[[]]},{"id":"18146b17.a88c25","type":"change","z":"2ba1266e.dba6fa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ups_status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":341,"y":388,"wires":[["c9310ed2.538dd"]]},{"id":"b4739298.a04e9","type":"inject","z":"d1bc1834.5e2ff8","name":"step 1 1","topic":"step1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":157.5,"y":167.27375984191895,"wires":[["5c45b554.16c44c"]]},{"id":"cfc62486.dbade8","type":"inject","z":"d1bc1834.5e2ff8","name":"step 1 0","topic":"step1","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":161.03968048095703,"y":125.19439315795898,"wires":[["5c45b554.16c44c"]]},{"id":"9dbd0efc.6e03","type":"inject","z":"d1bc1834.5e2ff8","name":"step 2 0","topic":"step2","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":168.91665649414062,"y":370.4880714416504,"wires":[["8de04294.a5fad"]]},{"id":"67489756.82a358","type":"inject","z":"d1bc1834.5e2ff8","name":"step 2 1","topic":"step2","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":176.48807907104492,"y":410.34521198272705,"wires":[["8de04294.a5fad"]]},{"id":"133050dd.7a22ef","type":"inject","z":"d1bc1834.5e2ff8","name":"step 3 0","topic":"step3","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":164.98807525634766,"y":779.237943649292,"wires":[["b389425d.d03f3"]]},{"id":"f362558d.cf86f8","type":"inject","z":"d1bc1834.5e2ff8","name":"step 3 1","topic":"step3","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":172.55949783325195,"y":819.0950841903687,"wires":[["b389425d.d03f3"]]},{"id":"ebe957a5.5bf308","type":"inject","z":"d1bc1834.5e2ff8","name":"step 4 0","topic":"step4","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.09521102905273,"y":926.023509979248,"wires":[["ab161632.4006b8"]]},{"id":"9590bcbf.fc8bf","type":"inject","z":"d1bc1834.5e2ff8","name":"step 4 1","topic":"step4","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":186.66663360595703,"y":965.8806505203247,"wires":[["ab161632.4006b8"]]},{"id":"6cdf8891.da8b78","type":"inject","z":"d1bc1834.5e2ff8","name":"step 5 0","topic":"step5","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":200.5237922668457,"y":1199.773473739624,"wires":[["70b36726.aa3e18"]]},{"id":"b6676dbf.ae5b5","type":"inject","z":"d1bc1834.5e2ff8","name":"step 5 1","topic":"step5","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":208.09521484375,"y":1239.6306142807007,"wires":[["70b36726.aa3e18"]]},{"id":"79952a57.42e8e4","type":"inject","z":"d1bc1834.5e2ff8","name":"step 6 0","topic":"step6","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":197.84521102905273,"y":1342.0950565338135,"wires":[["81322b52.8035f8"]]},{"id":"74f63f66.4c58","type":"inject","z":"d1bc1834.5e2ff8","name":"step 6 1","topic":"step6","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":205.41663360595703,"y":1381.9521970748901,"wires":[["81322b52.8035f8"]]},{"id":"86b2f50e.01af88","type":"switch","z":"d1bc1834.5e2ff8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":795.2778396606445,"y":104.5,"wires":[["9463ae74.e67cb"]]},{"id":"b50478c4.6fd058","type":"function","z":"d1bc1834.5e2ff8","name":"step 1","func":"if (global.get('phase')==1 && (global.get ('step1')==1)) {\nglobal.set ('step1',2);\nreturn msg;}\nelse return;","outputs":1,"noerr":0,"x":571.0397262573242,"y":207.70238494873047,"wires":[["e7582c96.7839a"]]},{"id":"e51c42da.7b667","type":"inject","z":"d1bc1834.5e2ff8","name":"step 1 2","topic":"step1","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":155.3253936767578,"y":206.03571605682373,"wires":[["5c45b554.16c44c"]]},{"id":"b97e2af0.eeec78","type":"inject","z":"d1bc1834.5e2ff8","name":"step 2 2","topic":"step2","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.99206924438477,"y":440.3214635848999,"wires":[["8de04294.a5fad"]]},{"id":"800e2c4a.753ee","type":"inject","z":"d1bc1834.5e2ff8","name":"step 3 2","topic":"step3","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":164.84920120239258,"y":854.6070718765259,"wires":[["b389425d.d03f3"]]},{"id":"472ee2f9.b956ac","type":"inject","z":"d1bc1834.5e2ff8","name":"step 4 2","topic":"step4","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":184.84918975830078,"y":1008.8926475048065,"wires":[["ab161632.4006b8"]]},{"id":"b7e470d5.e575d","type":"inject","z":"d1bc1834.5e2ff8","name":"step 5 2","topic":"step5","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":203.42062377929688,"y":1280.3211870193481,"wires":[["70b36726.aa3e18"]]},{"id":"2d0df77f.a5e708","type":"inject","z":"d1bc1834.5e2ff8","name":"step 6 2","topic":"step6","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":196.2777557373047,"y":1416.0356187820435,"wires":[["81322b52.8035f8"]]},{"id":"bc3a1aac.df7998","type":"inject","z":"d1bc1834.5e2ff8","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":168.50397491455078,"y":269.9881477355957,"wires":[["802734bc.ee73b8","e543b6a4.f8d3d8","e2097ebb.096ba","72cb24eb.28b55c","a109ca1a.90dd58","9d627e38.b6ffe","cec9ac23.493ba"]]},{"id":"5c45b554.16c44c","type":"function","z":"d1bc1834.5e2ff8","name":"global set step1","func":"global.set('step1',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":381.84920501708984,"y":131.32143211364746,"wires":[[]]},{"id":"802734bc.ee73b8","type":"function","z":"d1bc1834.5e2ff8","name":"global get step1","func":"msg.payload = global.get('step1');\nmsg.topic = 'step1';\nif(msg.payload===1){ var tune = global.set ('tune', 1);\n    global.set('gate',0);\n} else \nif(msg.payload===0){ var tune = global.set ('tune', 0);}\nreturn msg;","outputs":1,"noerr":0,"x":380.80162048339844,"y":217.22620296478271,"wires":[["b50478c4.6fd058","51cd5f50.98dc9"]]},{"id":"d74b269e.7d11a8","type":"function","z":"d1bc1834.5e2ff8","name":"global set step1","func":"if (msg.payload ===0) {global.set('step1', 0 );\n    global.set('step2',0);\n    global.set('step3',0);\n    global.set('step4',0);\n    global.set('step5',0);\n    global.set('step6',0);\n    global.set('step7',0);\n    global.set('blwr', 0);\n    global.set('gate',0);\n}\nif (msg.payload ===1) {global.set('step1', 1);}\nreturn;","outputs":1,"noerr":0,"x":1166.2777786254883,"y":171.75000762939453,"wires":[[]]},{"id":"9463ae74.e67cb","type":"change","z":"d1bc1834.5e2ff8","name":"begin / cancel","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":913.4206695556641,"y":150.321439743042,"wires":[["d74b269e.7d11a8"]]},{"id":"8de04294.a5fad","type":"function","z":"d1bc1834.5e2ff8","name":"global set step2","func":"global.set('step2',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":400.56349182128906,"y":407.4643039703369,"wires":[[]]},{"id":"e543b6a4.f8d3d8","type":"function","z":"d1bc1834.5e2ff8","name":"global get step2","func":"if(global.get('step1')==2) {\nmsg.payload = global.get('step2');\nmsg.topic = 'step2';\nreturn msg;}\nelse {global.set ('step2', 0); msg.topic = 'step2';\n    msg.payload = global.get('step2');\n}\nreturn msg;","outputs":1,"noerr":0,"x":401.99203872680664,"y":348.8928732872009,"wires":[["5266f30a.fe43fc","2e9a178e.6dbd38","51cd5f50.98dc9"]]},{"id":"5266f30a.fe43fc","type":"function","z":"d1bc1834.5e2ff8","name":"step 2","func":"if (global.get('flt')===0 && global.get ('step2')===1 &&\n global.get('blwr')===0 ) {\nglobal.set ('ballvalve',0);\nglobal.set ('step2',2);\nreturn msg;}\nelse\nif (global.get ('step2')===1 && global.get('test_mode')===1){\nglobal.set ('step2',2);\nreturn msg;}\nelse\nif (global.get ('step2')===1 && global.get('demo_mode')===1){\nglobal.set ('step2',2);\nreturn msg;}\nelse return;","outputs":1,"noerr":0,"x":569.134880065918,"y":318.89285373687744,"wires":[["4130162b.5e4988"]]},{"id":"cc5b2e13.57cd5","type":"inject","z":"d1bc1834.5e2ff8","name":"BLOWER ON","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":177.70635986328125,"y":504.60717010498047,"wires":[["d1e60e9b.39b37"]]},{"id":"d1e60e9b.39b37","type":"function","z":"d1bc1834.5e2ff8","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":510.4683074951172,"y":499.8095598220825,"wires":[[]]},{"id":"3b9de0d.271ac2","type":"inject","z":"d1bc1834.5e2ff8","name":"BLOWER OFF","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":183.53968811035156,"y":548.9404735565186,"wires":[["d1e60e9b.39b37"]]},{"id":"e7582c96.7839a","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":733.4206379481725,"y":198.89286286490324,"wires":[["8ca1e152.36b53"]]},{"id":"8ca1e152.36b53","type":"function","z":"d1bc1834.5e2ff8","name":"global set step1","func":"global.set('step2', 1 );\nreturn;","outputs":1,"noerr":0,"x":927.7063522338867,"y":228.89285850524902,"wires":[[]]},{"id":"91b2fc7a.1bcb6","type":"inject","z":"d1bc1834.5e2ff8","name":"FLOAT:Off 1","topic":"flt","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":189.13492584228516,"y":616.0357828140259,"wires":[["94f6a597.aa3378"]]},{"id":"5cf8775e.0b8278","type":"inject","z":"d1bc1834.5e2ff8","name":"FLOAT:On 0","topic":"flt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":204.96824645996094,"y":687.5119438171387,"wires":[["94f6a597.aa3378"]]},{"id":"94f6a597.aa3378","type":"function","z":"d1bc1834.5e2ff8","name":"global set flt","func":"global.set('flt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":497.37310791015625,"y":571.0000190734863,"wires":[[]]},{"id":"4130162b.5e4988","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":791.1349029541016,"y":317.8928813934326,"wires":[["a6ef700a.dae75"]]},{"id":"a6ef700a.dae75","type":"function","z":"d1bc1834.5e2ff8","name":"global set step3","func":"global.set('step3', 1 );\nreturn;","outputs":1,"noerr":0,"x":1029.134910583496,"y":386.03573513031006,"wires":[[]]},{"id":"2e9a178e.6dbd38","type":"function","z":"d1bc1834.5e2ff8","name":"step 2","func":"if (global.get('step2')==1 && global.get ('flt')==1 && global.get('timedout_alarm')===0)\n{global.set ('ballvalve',1);\n    return;}\nif (global.get('step2')==1 && global.get ('flt')===0) \n{global.set ('ballvalve',0);\n    return;}\nelse if (global.get('timedout_alarm')==1) {\nglobal.set ('ballvalve',0);\n    return;}\nmsg.payload=global.get('ballvalve');\nreturn msg;","outputs":1,"noerr":0,"x":603.4206161499023,"y":425.55955696105957,"wires":[[]]},{"id":"b389425d.d03f3","type":"function","z":"d1bc1834.5e2ff8","name":"global set step 3","func":"global.set('step3',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":416.2777786254883,"y":830.321475982666,"wires":[[]]},{"id":"e2097ebb.096ba","type":"function","z":"d1bc1834.5e2ff8","name":"global get step3","func":"if(global.get('step2')==2) {\nmsg.payload = global.get('step3');\nmsg.topic = 'step3';\nreturn msg;}\nelse {global.set ('step3', 0); msg.topic = 'step3';\n    msg.payload = global.get('step3');\n}\nreturn msg;","outputs":1,"noerr":0,"x":399.23016357421875,"y":726.6071491241455,"wires":[["1457dbd1.756e64","79ec86b6.fbaf78","51cd5f50.98dc9"]]},{"id":"1457dbd1.756e64","type":"function","z":"d1bc1834.5e2ff8","name":"step 3","func":"if (global.get('blwr')===2 && global.get ('step3')===1 ) {\nglobal.set ('step3',2);\nreturn msg;\n}\nreturn ;","outputs":1,"noerr":0,"x":589.134880065918,"y":730.3214308023453,"wires":[["25ed25fa.e56bca"]]},{"id":"25ed25fa.e56bca","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":794.8491668701172,"y":720.3214522600174,"wires":[["e7471df9.8c383"]]},{"id":"e7471df9.8c383","type":"function","z":"d1bc1834.5e2ff8","name":"global set step4","func":"if(global.get('step3')===2){\nglobal.set('step4', 1 );\nreturn;}","outputs":1,"noerr":0,"x":1047.884994506836,"y":769.7857627868652,"wires":[["3b01c861.134818"]]},{"id":"79ec86b6.fbaf78","type":"function","z":"d1bc1834.5e2ff8","name":"step 3","func":"if (global.get('step3')===1 ) {\nglobal.set ('blwr',1);\n}\nreturn;","outputs":1,"noerr":0,"x":627.230094909668,"y":823.8928480148315,"wires":[[]]},{"id":"a109ca1a.90dd58","type":"function","z":"d1bc1834.5e2ff8","name":"global get step4","func":"if(global.get('step3')==2) {\nmsg.payload = global.get('step4');\nmsg.topic = 'step4';\nreturn msg;}\nelse {global.set ('step4', 0); msg.topic = 'step4';\n    msg.payload = global.get('step4');\n}\nreturn msg;","outputs":1,"noerr":0,"x":390.8016548156738,"y":889.6071524620056,"wires":[["9e0dbbed.873908","59ecf5b8.8c9d1c","51cd5f50.98dc9"]]},{"id":"5ccc2986.e85ad8","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":806.0396575927734,"y":916.0356979370117,"wires":[["dd79a240.0621b"]]},{"id":"dd79a240.0621b","type":"function","z":"d1bc1834.5e2ff8","name":"global set step5","func":"global.set('step5', 1 );\nreturn;","outputs":1,"noerr":0,"x":1036.2778282165527,"y":951.7500342130661,"wires":[["3b01c861.134818"]]},{"id":"ab161632.4006b8","type":"function","z":"d1bc1834.5e2ff8","name":"global set step4","func":"global.set('step4',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":439.13491439819336,"y":975.0832853317261,"wires":[[]]},{"id":"5a9c8f24.207e4","type":"inject","z":"d1bc1834.5e2ff8","name":"setPres 2","topic":"setPres","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"x":179.37302017211914,"y":1084.3690557479858,"wires":[["8676b561.d677c8"]]},{"id":"7049ed8d.634754","type":"inject","z":"d1bc1834.5e2ff8","name":"setPres 4","topic":"setPres","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.25395584106445,"y":1136.0833435058594,"wires":[["8676b561.d677c8"]]},{"id":"8676b561.d677c8","type":"function","z":"d1bc1834.5e2ff8","name":"global set setPres","func":"global.set('setPres',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":435.7063331604004,"y":1069.8096084594727,"wires":[[]]},{"id":"70b36726.aa3e18","type":"function","z":"d1bc1834.5e2ff8","name":"global set step5","func":"global.set('step5',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":423.4206352233887,"y":1256.035629272461,"wires":[[]]},{"id":"72cb24eb.28b55c","type":"function","z":"d1bc1834.5e2ff8","name":"global get step5","func":"if(global.get('step4')==2) {\nmsg.payload = global.get('step5');\nmsg.topic = 'step5';\nreturn msg;}\nelse {global.set ('step5', 0); msg.topic = 'step5';\n    msg.payload = global.get('step5');\n}\nreturn msg;","outputs":1,"noerr":0,"x":440.5635108947754,"y":1173.1787507534027,"wires":[["33ef1e61.9013a2","c45b6bbe.1fcfe8","5b4ddddd.cde684","3b01c861.134818"]]},{"id":"33ef1e61.9013a2","type":"function","z":"d1bc1834.5e2ff8","name":"step 5","func":"if (global.get('step5')===1 ) {\n    var newval1 = global.get ('PS0') - (- global.get ('setPhi'));\n    var newval2 = global.get ('PS0') - global.get ('setPlo');\n    var newval3 = global.get ('setFilt') + global.get ('setDirt');\n    global.set ('oldPhi', newval1);\n    global.set ('oldPlo', newval2); \n    global.set ('oldFilt', newval3);\n}\nreturn msg;","outputs":1,"noerr":0,"x":644.8492088317871,"y":1251.9406089782715,"wires":[["ad37c345.1e60d","9fba75c2.c0bf48","8199e8e8.b551a8"]]},{"id":"322e97dd.e09478","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":798.5635032653809,"y":1170.6071128845215,"wires":[["1c58983b.400e98"]]},{"id":"1c58983b.400e98","type":"function","z":"d1bc1834.5e2ff8","name":"global set step6","func":"global.set('step6', 1 );\nreturn;","outputs":1,"noerr":0,"x":1107.8493423461914,"y":1172.892894744873,"wires":[["3b01c861.134818"]]},{"id":"3e7c7568.8ac8ea","type":"inject","z":"d1bc1834.5e2ff8","name":"setFilt 0.2","topic":"setFilt","payload":".2","payloadType":"num","repeat":"","crontab":"","once":true,"x":669.1349296569824,"y":1053.1785793304443,"wires":[["cb14ecc8.dae48"]]},{"id":"b16b18e2.344fa8","type":"inject","z":"d1bc1834.5e2ff8","name":"setFilt 0.75","topic":"setFilt","payload":".75","payloadType":"num","repeat":"","crontab":"","once":false,"x":677.8253746032715,"y":1100.3690061569214,"wires":[["cb14ecc8.dae48"]]},{"id":"cb14ecc8.dae48","type":"function","z":"d1bc1834.5e2ff8","name":"global set setFilt","func":"global.set('setFilt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":940.4682426452637,"y":1086.9524154663086,"wires":[["3b01c861.134818"]]},{"id":"81322b52.8035f8","type":"function","z":"d1bc1834.5e2ff8","name":"global set step6","func":"global.set('step6',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":384.8492240905762,"y":1397.4642238616943,"wires":[[]]},{"id":"9d627e38.b6ffe","type":"function","z":"d1bc1834.5e2ff8","name":"global get step6","func":"if(global.get('step5')==2) {\nmsg.payload = global.get('step6');\nmsg.topic = 'step6';\nreturn msg;}\nelse {global.set ('step6', 0); msg.topic = 'step6';\n    msg.payload = global.get('step6');\n}\nreturn msg;","outputs":1,"noerr":0,"x":430.5634880065918,"y":1337.4642238616943,"wires":[["822632c9.fddf6","81e80ec2.707a9","3b01c861.134818"]]},{"id":"822632c9.fddf6","type":"function","z":"d1bc1834.5e2ff8","name":"step 6","func":"if (global.get('blwr') === 0 && global.get('step6')=== 1) {\nglobal.set ('step6',2);\nglobal.set ('begin',0);\nreturn;\n} else if(global.get('step6')==2){\n    global.set('step1', 0);\n    global.set('step7', 2);\nreturn msg;}\n","outputs":1,"noerr":0,"x":670.563362121582,"y":1351.7499237060547,"wires":[["52c4d050.69734"]]},{"id":"81e80ec2.707a9","type":"function","z":"d1bc1834.5e2ff8","name":"step 6","func":"if (global.get('step6')===1 ) {\n    global.set ('alarm', 0);\n    global.set ('blwr', 3);\n    //global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":676.2777328491211,"y":1433.178518295288,"wires":[[]]},{"id":"27c2f7a7.63ebc8","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990.5635032653809,"y":1411.7497901916504,"wires":[["3b01c861.134818"]]},{"id":"9e0dbbed.873908","type":"function","z":"d1bc1834.5e2ff8","name":"step 4","func":"if (global.get('step4')==1 ) {\nglobal.set ('setPres', global.get ('PS0'));\nglobal.set ('filtPres', (global.get('PS1')));msg.payload = global.get ('setPres');\nreturn msg; }\nelse msg.payload = global.get ('setPres');\nreturn msg;","outputs":1,"noerr":0,"x":643.8968849182129,"y":956.7500438690186,"wires":[[]]},{"id":"59ecf5b8.8c9d1c","type":"function","z":"d1bc1834.5e2ff8","name":"step 4","func":"if (global.get('setPres') > 3 && global.get ('step4')==1 ) {\nglobal.set ('step4', 2 );\nreturn msg;\n} else ;\nreturn;","outputs":1,"noerr":0,"x":636.5159034729004,"y":873.4165954589844,"wires":[["5ccc2986.e85ad8"]]},{"id":"52c4d050.69734","type":"rbe","z":"d1bc1834.5e2ff8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":824.8491668701172,"y":1384.6071779727936,"wires":[["27c2f7a7.63ebc8"]]},{"id":"8a17cc6f.b5e9c","type":"inject","z":"d1bc1834.5e2ff8","name":"blwr 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":964.8492126464844,"y":525.1785507202148,"wires":[["56617b8f.9e8b54"]]},{"id":"17c759c1.8bebf6","type":"inject","z":"d1bc1834.5e2ff8","name":"blwr 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":968.1825561523438,"y":568.5119247436523,"wires":[["56617b8f.9e8b54"]]},{"id":"56617b8f.9e8b54","type":"function","z":"d1bc1834.5e2ff8","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1192.8492584228516,"y":595.8452739715576,"wires":[["3b01c861.134818"]]},{"id":"62fb9931.0e3b08","type":"inject","z":"d1bc1834.5e2ff8","name":"blwr 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":971.5158843994141,"y":626.8452987670898,"wires":[["56617b8f.9e8b54"]]},{"id":"eead51c2.3518c","type":"inject","z":"d1bc1834.5e2ff8","name":"blwr 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":968.1824645996094,"y":678.5118942260742,"wires":[["56617b8f.9e8b54"]]},{"id":"ad37c345.1e60d","type":"function","z":"d1bc1834.5e2ff8","name":"oldPhi","func":"msg.payload = global.get('oldPhi');\nmsg.topic = 'oldPhi';\nreturn msg;","outputs":1,"noerr":0,"x":801.3968162536621,"y":1252.337215423584,"wires":[["3b01c861.134818"]]},{"id":"9fba75c2.c0bf48","type":"function","z":"d1bc1834.5e2ff8","name":"oldPlo","func":"msg.payload = global.get('oldPlo');\nmsg.topic = 'oldPlo';\nreturn msg;","outputs":1,"noerr":0,"x":805.6825218200684,"y":1299.480037689209,"wires":[["3b01c861.134818"]]},{"id":"8199e8e8.b551a8","type":"function","z":"d1bc1834.5e2ff8","name":"oldFilt","func":"msg.payload = global.get('oldFilt');\nmsg.topic = 'oldFilt';\nreturn msg;","outputs":1,"noerr":0,"x":807.1111106872559,"y":1335.194393157959,"wires":[["3b01c861.134818"]]},{"id":"cec9ac23.493ba","type":"function","z":"d1bc1834.5e2ff8","name":"global set setFilt","func":"msg.payload = Math.abs(global.get('PS1') - global.get ('PS0'));\nglobal.set('setFilt',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":802.2539405822754,"y":1012.1943912506104,"wires":[[]]},{"id":"5da7a698.961358","type":"comment","z":"d1bc1834.5e2ff8","name":"step 2 test mode modification","info":"We will ignore float input and move to next step","x":674.2896881103516,"y":270.6943950653076,"wires":[]},{"id":"6a80d848.7241d8","type":"function","z":"d1bc1834.5e2ff8","name":"step 3","func":"if (global.get('step3')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":567.9682388305664,"y":1664.480052947998,"wires":[["53507e48.67894","5c1c6ac0.f71144"]]},{"id":"e3d089a4.a1e748","type":"inject","z":"d1bc1834.5e2ff8","name":"1 Sec PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":205.96825408935547,"y":1584.4799976348877,"wires":[["298a8ba8.0a6334"]]},{"id":"576aafc0.44fb8","type":"function","z":"d1bc1834.5e2ff8","name":"step 2","func":"if (global.get('step2')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":572.9682388305664,"y":1577.480052947998,"wires":[["a9ca9c4.aa8d06","cc7cf8c.5265a08"]]},{"id":"d7f252c0.ec0ec","type":"function","z":"d1bc1834.5e2ff8","name":"step 1","func":"if (global.get('step1')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":568.2539749145508,"y":1501.7657432556152,"wires":[["49cb37d.56f97c8"]]},{"id":"b0d32b98.486388","type":"function","z":"d1bc1834.5e2ff8","name":"step 4","func":"if (global.get('step4')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":567.9682388305664,"y":1733.480052947998,"wires":[["ffb06f52.00e7c","335988c1.cde4a8"]]},{"id":"d3355a13.f0c0a8","type":"function","z":"d1bc1834.5e2ff8","name":"step 5","func":"if (global.get('step5')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":576.9682388305664,"y":1807.480052947998,"wires":[["42f38960.a115a8","8f719372.24737"]]},{"id":"5433bc5f.599624","type":"function","z":"d1bc1834.5e2ff8","name":"set step 5 timed out alarm ","func":"if (global.get('step5')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1047.9682388305664,"y":1793.480052947998,"wires":[[]]},{"id":"b3437057.025aa","type":"function","z":"d1bc1834.5e2ff8","name":"set step 4 timed out alarm ","func":"if (global.get('step4')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1043.9682388305664,"y":1717.480052947998,"wires":[[]]},{"id":"99f83e8b.bd929","type":"function","z":"d1bc1834.5e2ff8","name":"set step 3 timed out alarm ","func":"if (global.get('step3')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1050.9682388305664,"y":1646.480052947998,"wires":[[]]},{"id":"387cb4e2.8a836c","type":"function","z":"d1bc1834.5e2ff8","name":"set step 2 timed out alarm ","func":"if (global.get('step2')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1055.9682388305664,"y":1574.480052947998,"wires":[[]]},{"id":"3137b5e3.aa085a","type":"function","z":"d1bc1834.5e2ff8","name":"set step 1 timed out alarm ","func":"if (global.get('step1')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1056.9682388305664,"y":1504.480052947998,"wires":[[]]},{"id":"a9ca9c4.aa8d06","type":"trigger","z":"d1bc1834.5e2ff8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"min","reset":"99","name":"","x":833.4682388305664,"y":1577.480052947998,"wires":[["387cb4e2.8a836c"]]},{"id":"53507e48.67894","type":"change","z":"d1bc1834.5e2ff8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":682.9682388305664,"y":1616.480052947998,"wires":[["a9ca9c4.aa8d06"]]},{"id":"cc7cf8c.5265a08","type":"change","z":"d1bc1834.5e2ff8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":694.9682388305664,"y":1537.480052947998,"wires":[["49cb37d.56f97c8"]]},{"id":"ffb06f52.00e7c","type":"change","z":"d1bc1834.5e2ff8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.9682388305664,"y":1693.480052947998,"wires":[["5c1c6ac0.f71144"]]},{"id":"42f38960.a115a8","type":"change","z":"d1bc1834.5e2ff8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.9682388305664,"y":1764.480052947998,"wires":[["335988c1.cde4a8"]]},{"id":"49cb37d.56f97c8","type":"trigger","z":"d1bc1834.5e2ff8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":837.4682388305664,"y":1505.480052947998,"wires":[["3137b5e3.aa085a"]]},{"id":"5c1c6ac0.f71144","type":"trigger","z":"d1bc1834.5e2ff8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":829.9682388305664,"y":1650.480052947998,"wires":[["99f83e8b.bd929"]]},{"id":"335988c1.cde4a8","type":"trigger","z":"d1bc1834.5e2ff8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":829.9682388305664,"y":1719.480052947998,"wires":[["b3437057.025aa"]]},{"id":"8f719372.24737","type":"trigger","z":"d1bc1834.5e2ff8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":827.9682388305664,"y":1790.480052947998,"wires":[["5433bc5f.599624"]]},{"id":"298a8ba8.0a6334","type":"function","z":"d1bc1834.5e2ff8","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":294.3968276977539,"y":1668.7658195495605,"wires":[["77fa0d47.fdbdc4"]]},{"id":"77fa0d47.fdbdc4","type":"switch","z":"d1bc1834.5e2ff8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":415.49210357666016,"y":1595.311351776123,"wires":[[],["d3355a13.f0c0a8","b0d32b98.486388","6a80d848.7241d8","576aafc0.44fb8","d7f252c0.ec0ec"]]},{"id":"5b4ddddd.cde684","type":"function","z":"d1bc1834.5e2ff8","name":"if test or  demo mode","func":"if (global.get('step5')===1 && (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1)) {\nreturn msg;} \n\n","outputs":1,"noerr":0,"x":689.3968276977539,"y":1213.7658195495605,"wires":[["47615934.80f3c8"]]},{"id":"c45b6bbe.1fcfe8","type":"function","z":"d1bc1834.5e2ff8","name":"step 5","func":"if (2.0< global.get('oldPlo') < global.get ('actPres') && \nglobal.get('step5')===1 && global.get ('actPres') <global.get('oldPhi') < 9.0)  {\nglobal.set ('step5',2);\nreturn msg;\n}\nreturn ;","outputs":1,"noerr":0,"x":646.5634422302246,"y":1172.1786460876465,"wires":[["322e97dd.e09478"]]},{"id":"47615934.80f3c8","type":"delay","z":"d1bc1834.5e2ff8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":886.8968276977539,"y":1213.7658195495605,"wires":[["1c58983b.400e98"]]},{"id":"51cd5f50.98dc9","type":"vis in","z":"d1bc1834.5e2ff8","language":"en","x":591.5,"y":80.5,"wires":[["86b2f50e.01af88"]]},{"id":"3b01c861.134818","type":"vis in","z":"d1bc1834.5e2ff8","language":"en","x":1471.1666259765625,"y":1121.1667041778564,"wires":[[]]},{"id":"9e221b5.0fbe4e8","type":"comment","z":"e373b426.d0aae8","name":"Reset button ","info":"","x":378.74999237060547,"y":146.67853546142578,"wires":[]},{"id":"72e46dd5.6d7764","type":"inject","z":"e373b426.d0aae8","name":"","topic":"reset","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":136.5714340209961,"y":343.7856721878052,"wires":[["5737278e.0eafd8"]]},{"id":"d20a3d4f.c9eca","type":"inject","z":"e373b426.d0aae8","name":"","topic":"reset","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":131.42858123779297,"y":306.1071138381958,"wires":[["340f28a0.5fcb68"]]},{"id":"5e8f7001.3cffa","type":"trigger","z":"e373b426.d0aae8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"delay reset","x":425.5357360839844,"y":327.2142610549927,"wires":[["6390b72e.ae96c8"]]},{"id":"5737278e.0eafd8","type":"switch","z":"e373b426.d0aae8","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":401.8214111328125,"y":256.0118684768677,"wires":[["5e8f7001.3cffa","340f28a0.5fcb68"]]},{"id":"6390b72e.ae96c8","type":"change","z":"e373b426.d0aae8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"99","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160.2142333984375,"y":243.7261781692505,"wires":[["f0af6cb6.1b619"]]},{"id":"f0af6cb6.1b619","type":"function","z":"e373b426.d0aae8","name":"flip flop","func":"var newmsg = msg.payload;\nif (newmsg === 0 ) {\n   msg.payload = 1 ;\n}   \nif (newmsg== 1 ) {\n    msg.payload = 0 ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":167.71434020996094,"y":199.01188373565674,"wires":[["340f28a0.5fcb68"]]},{"id":"9bcb1628.9b8f38","type":"inject","z":"e373b426.d0aae8","name":"","topic":"factreset","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":127.91665649414062,"y":601.6785612106323,"wires":[["5eca1371.8581cc"]]},{"id":"c8e3213a.4a928","type":"inject","z":"e373b426.d0aae8","name":"","topic":"factreset","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":134.25006103515625,"y":557.1429109573364,"wires":[["bca253f3.07373"]]},{"id":"dc73215d.f6309","type":"trigger","z":"e373b426.d0aae8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"delay reset","x":480.547607421875,"y":580.4404573440552,"wires":[["1a3b5253.dcaf6e"]]},{"id":"5eca1371.8581cc","type":"switch","z":"e373b426.d0aae8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":497.11907958984375,"y":508.3332796096802,"wires":[["dc73215d.f6309","bca253f3.07373"]]},{"id":"1a3b5253.dcaf6e","type":"change","z":"e373b426.d0aae8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":277.22613525390625,"y":513.9523649215698,"wires":[["ecd4ae9d.fb315"]]},{"id":"ecd4ae9d.fb315","type":"function","z":"e373b426.d0aae8","name":"flip flop","func":"var newmsg = msg.payload;\nif (newmsg === 0 ) {\n   msg.payload = 1 ;\n}   \nif (newmsg== 1 ) {\n    msg.payload = 0 ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":269.8690490722656,"y":455.6666536331177,"wires":[["bca253f3.07373"]]},{"id":"7a16bcd0.d71b54","type":"comment","z":"e373b426.d0aae8","name":"Gauge Display","info":"","x":170,"y":650.6071195602417,"wires":[]},{"id":"e292416c.94c44","type":"comment","z":"e373b426.d0aae8","name":"Factory Reset Button Reset","info":"","x":407,"y":396.1071195602417,"wires":[]},{"id":"7de5e462.d5c6ac","type":"inject","z":"e373b426.d0aae8","name":"gauge inject","topic":"gauge","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":true,"x":122.5,"y":702.6071195602417,"wires":[["519c946d.23d3cc","dfb1f3f4.b49c5","10b7a50a.45752b"]]},{"id":"519c946d.23d3cc","type":"function","z":"e373b426.d0aae8","name":"Gauge","func":"msg.topic = 'gauge';\nreturn msg;","outputs":1,"noerr":0,"x":322.75000381469727,"y":703.6071395874023,"wires":[["731f8a2b.4fc4a4"]]},{"id":"dfb1f3f4.b49c5","type":"function","z":"e373b426.d0aae8","name":"Scrub Press","func":"msg.topic = 'scrub_pressure';\nmsg.payload = global.get('actPres')-(-0.01);\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":746.1071195602417,"wires":[["731f8a2b.4fc4a4"]]},{"id":"10b7a50a.45752b","type":"function","z":"e373b426.d0aae8","name":"Filter Press","func":"msg.topic = 'filter_pressure';\nmsg.payload = global.get('filter_pressure')-(-0.001);\nreturn msg;","outputs":1,"noerr":0,"x":350.25,"y":799.8571195602417,"wires":[["731f8a2b.4fc4a4"]]},{"id":"9bce96f6.131e88","type":"inject","z":"e373b426.d0aae8","name":"RESET on startup","topic":"reset","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":748.3928451538086,"y":133.71426391601562,"wires":[["6777fd6c.533aa4"]]},{"id":"6777fd6c.533aa4","type":"trigger","z":"e373b426.d0aae8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"initialization","x":980.4762191772461,"y":149.76190185546875,"wires":[["e42938b6.981498"]]},{"id":"38317699.983a4a","type":"change","z":"e373b426.d0aae8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":743.6666488647461,"y":186.1904296875,"wires":[["6777fd6c.533aa4"]]},{"id":"7b4b5949.8c5998","type":"switch","z":"e373b426.d0aae8","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":580.2856674194336,"y":186.23806762695312,"wires":[["38317699.983a4a"]]},{"id":"e42938b6.981498","type":"function","z":"e373b426.d0aae8","name":"SET CALL VARIABLES","func":"var alarm = global.set ('alarm', 0);\nvar blwr = global.set ('blwr', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar permPhi = global.set ('permPhi', 0);\nvar permDirt = global.set ('permDirt', 0);\nvar begin = global.set ('begin', 0);\nvar step1 = global.set ('step1', 0);\nvar step2 = global.set ('step2', 0);\nvar step3 = global.set ('step3', 0);\nvar step4 = global.set ('step4', 0);\nvar step5 = global.set ('step5', 0);\nvar step6 = global.set ('step6', 0);\nvar step7 = global.set ('step7', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar gate = global.set ('gate', 0);\nvar table = global.set ('table', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar test_mode = global.set ('test_mode', 0);\nvar dynFill = global.set ('dynFill', 0);\nvar tune = global.set ('tune', 0);\nvar demo_mode = global.set ('demo_mode', 0);\nvar ballchk = global.set ('ballchk', 0);\nvar man_control = global.set ('man_control', 0);\nvar man_fill = global.set ('manfill', 0);\nvar phase = global.set ('phase', 1);\nvar reset = global.set ('reset', 0);\n\nreturn msg;\n","outputs":"1","noerr":0,"x":967.2857894897461,"y":220.28549194335938,"wires":[[]]},{"id":"2f53ba94.4d9516","type":"switch","z":"e373b426.d0aae8","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":582.7618637084961,"y":224.2855224609375,"wires":[["e42938b6.981498"]]},{"id":"c95e690d.e78408","type":"inject","z":"e373b426.d0aae8","name":"Inject reset","topic":"reset","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":733.25,"y":375.8571195602417,"wires":[["6a9f3468.47517c"]]},{"id":"6a9f3468.47517c","type":"trigger","z":"e373b426.d0aae8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"initialization","x":1021.4761962890625,"y":428.7619047164917,"wires":[["c80d50db.6ccdf","ee98811.5342d8","b69da525.ec63b8"]]},{"id":"fa2d75f4.193f58","type":"change","z":"e373b426.d0aae8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":812.6666259765625,"y":430.19043254852295,"wires":[["6a9f3468.47517c"]]},{"id":"5a778e99.a0757","type":"switch","z":"e373b426.d0aae8","name":"factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":631.28564453125,"y":427.2380704879761,"wires":[["fa2d75f4.193f58"]]},{"id":"c80d50db.6ccdf","type":"function","z":"e373b426.d0aae8","name":"SET CALL VARIABLES 2","func":"var oldFilt = global.set ('oldFilt', 2.5);\nvar oldPhi = global.set ('oldPhi', 7.5);\nvar oldPlo = global.set ('oldPlo', 3.5);\nvar permDirt = global.set ('permDirt', 0);\nvar permPhi = global.set ('permPhi', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar phase = global.set ('phase', 1);\nvar phase_check = global.set ('phase_check', 1);\nvar Phicount = global.set ('Phicount', 0);\nvar Plocount = global.set ('Plocount', 0);\nvar setDirt = global.set ('setDirt', 0.75);\nvar setFilt = global.set ('setFilt', 1.25);\nvar setPhi = global.set ('setPhi', 1.5);\nvar setPlo = global.set ('setPlo', 1.5);\nvar setPres = global.set ('setPres', 5.5);\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":982.285758972168,"y":582.2854919433594,"wires":[[]]},{"id":"233509ad.947fe6","type":"switch","z":"e373b426.d0aae8","name":"factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":680.7618408203125,"y":481.28552532196045,"wires":[["c80d50db.6ccdf","ee98811.5342d8","b69da525.ec63b8"]]},{"id":"f3b4016a.93142","type":"comment","z":"e373b426.d0aae8","name":"question qualifier unit set up","info":"","x":696.5833358764648,"y":804.142915725708,"wires":[]},{"id":"a28546ad.19f9d8","type":"inject","z":"e373b426.d0aae8","name":"Grand State of Things","topic":"","payload":"4","payloadType":"str","repeat":"1","crontab":"","once":true,"x":159.82141876220703,"y":856.4289045333862,"wires":[["5e106e02.2f885","27d3112c.2bfdde","92ea719c.b4e6b","92cde003.9293e"]]},{"id":"48646e9.09c7f9","type":"switch","z":"e373b426.d0aae8","name":"gate","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"gate","vt":"str"}],"checkall":"true","outputs":1,"x":828.2498868306479,"y":1049.1427839597063,"wires":[["94c1c3ae.5fb0a","e48362af.0d0a3"]]},{"id":"94c1c3ae.5fb0a","type":"change","z":"e373b426.d0aae8","name":"gate","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1003.9325307210288,"y":1046.6188982327776,"wires":[["f3f4337e.b2848"]]},{"id":"6c9ca3b9.e294dc","type":"change","z":"e373b426.d0aae8","name":"filterlife","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093.5037968953452,"y":1145.7616422971087,"wires":[["f3f4337e.b2848"]]},{"id":"d6994df7.fa0fa","type":"switch","z":"e373b426.d0aae8","name":"filterlife","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"filterlife","vt":"str"}],"checkall":"true","outputs":1,"x":855.5991261800132,"y":1148.28560813268,"wires":[["6c9ca3b9.e294dc","3f8f9e20.59fb02"]]},{"id":"7be0ce5b.3ced7","type":"switch","z":"e373b426.d0aae8","name":"ballchk","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ballchk","vt":"str"}],"checkall":"true","outputs":1,"x":880.8372192382812,"y":1218.0474200248718,"wires":[["277b14f4.9b8c8c","9b522a78.40bc58"]]},{"id":"277b14f4.9b8c8c","type":"change","z":"e373b426.d0aae8","name":"ballchk","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1134.349235534668,"y":1206.4998779296875,"wires":[["f3f4337e.b2848"]]},{"id":"966829a6.64b3f8","type":"inject","z":"e373b426.d0aae8","name":"gate 0","topic":"gate","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":154.9166615804038,"y":1121.4762180646258,"wires":[["d01befea.ccc86"]]},{"id":"7418fa03.26e964","type":"inject","z":"e373b426.d0aae8","name":"gate 1","topic":"gate","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":158.24999237060547,"y":1156.4762206077576,"wires":[["d01befea.ccc86"]]},{"id":"d01befea.ccc86","type":"function","z":"e373b426.d0aae8","name":"gate test","func":"global.set('gate', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":388.0118942260742,"y":1138.1429443359375,"wires":[[]]},{"id":"5e106e02.2f885","type":"change","z":"e373b426.d0aae8","name":"gate filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"gate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438.25008392333984,"y":885.6666870117188,"wires":[["3dd5dd19.053d72"]]},{"id":"3dd5dd19.053d72","type":"function","z":"e373b426.d0aae8","name":"gate","func":"msg.payload = global.get('gate');\nreturn msg;\n","outputs":1,"noerr":0,"x":602.2499923706055,"y":887.3329467773438,"wires":[["48646e9.09c7f9"]]},{"id":"97a6b579.cc9138","type":"inject","z":"e373b426.d0aae8","name":"table 0","topic":"table","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":158.24999237060547,"y":1193.8095703125,"wires":[["4e5a3814.fc64b8"]]},{"id":"d88df707.e6a888","type":"inject","z":"e373b426.d0aae8","name":"table 1","topic":"table","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":164.24999237060547,"y":1232.47607421875,"wires":[["4e5a3814.fc64b8"]]},{"id":"4e5a3814.fc64b8","type":"function","z":"e373b426.d0aae8","name":"table test","func":"global.set('table', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":387.15479278564453,"y":1194.142822265625,"wires":[[]]},{"id":"7ccf9e0c.fa2c3","type":"inject","z":"e373b426.d0aae8","name":"filterlife 0","topic":"filterlife","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":156.9166488647461,"y":1266.142822265625,"wires":[["314c6319.12a8bc"]]},{"id":"183f8c49.d2e034","type":"inject","z":"e373b426.d0aae8","name":"filterlife 1","topic":"filterlife","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":162.9166488647461,"y":1306.47607421875,"wires":[["314c6319.12a8bc"]]},{"id":"314c6319.12a8bc","type":"function","z":"e373b426.d0aae8","name":"filterlife test","func":"global.set('filterlife', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":386.39282989501953,"y":1257.9521484375,"wires":[[]]},{"id":"8727aedd.4cebe","type":"inject","z":"e373b426.d0aae8","name":"ballchk 0","topic":"ballchk","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":364.58333587646484,"y":1314.4761962890625,"wires":[["22f722c.f496cde"]]},{"id":"9f6b1d8d.e7a93","type":"inject","z":"e373b426.d0aae8","name":"ballchk 1","topic":"ballchk","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":369.24999237060547,"y":1361.142822265625,"wires":[["22f722c.f496cde"]]},{"id":"22f722c.f496cde","type":"function","z":"e373b426.d0aae8","name":"ballvalve test","func":"global.set('ballchk', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":579.1547470092773,"y":1324.7618408203125,"wires":[[]]},{"id":"92ea719c.b4e6b","type":"change","z":"e373b426.d0aae8","name":"filterlife filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"filterlife","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":423.30953216552734,"y":973.666748046875,"wires":[["626cc4b6.9fa32c"]]},{"id":"92cde003.9293e","type":"change","z":"e373b426.d0aae8","name":"ballvalve filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"ballchk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":372.6904830932617,"y":1013.618896484375,"wires":[["3168b24a.20260e"]]},{"id":"be06498c.5d7d08","type":"switch","z":"e373b426.d0aae8","name":"table","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"table","vt":"str"}],"checkall":"true","outputs":1,"x":838.2499860127768,"y":1094.1428659756975,"wires":[["8024a95f.9f2338","33236e93.ab7562"]]},{"id":"8024a95f.9f2338","type":"change","z":"e373b426.d0aae8","name":"table","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022.8213704427085,"y":1086.6189554532366,"wires":[["f3f4337e.b2848"]]},{"id":"27d3112c.2bfdde","type":"change","z":"e373b426.d0aae8","name":"table filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"table","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":433.3928451538086,"y":931.619140625,"wires":[["7448ff9d.5815a"]]},{"id":"7448ff9d.5815a","type":"function","z":"e373b426.d0aae8","name":"table","func":"msg.payload = global.get('table');\nreturn msg;\n","outputs":1,"noerr":0,"x":590.9166793823242,"y":958.4761962890625,"wires":[["be06498c.5d7d08"]]},{"id":"e48362af.0d0a3","type":"function","z":"e373b426.d0aae8","name":"gate set","func":"global.set('gate', msg.payload);\nif (global.get('gate') === 0 ) {global.set ('table', 0 );\nglobal.set ('filterlife', 0 );\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1184.202262878418,"y":931.154541015625,"wires":[[]]},{"id":"33236e93.ab7562","type":"function","z":"e373b426.d0aae8","name":"table test","func":"global.set('table', msg.payload);\nif (global.get('table') === 0 ) {\nglobal.set ('filterlife', 0 );\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1192.3212814331055,"y":988.142822265625,"wires":[[]]},{"id":"626cc4b6.9fa32c","type":"function","z":"e373b426.d0aae8","name":"table and filterlife","func":"msg.payload = global.get('filterlife');\nreturn msg;\n","outputs":1,"noerr":0,"x":598.9166793823242,"y":1044.142822265625,"wires":[["d6994df7.fa0fa"]]},{"id":"3f8f9e20.59fb02","type":"function","z":"e373b426.d0aae8","name":"filterlife test","func":"global.set('filterlife', msg.payload);\nif (global.get('filterlife') === 0 ) {\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1236.761833190918,"y":1038.1904296875,"wires":[[]]},{"id":"3168b24a.20260e","type":"function","z":"e373b426.d0aae8","name":"table and filterlife and ballvalve","func":"msg.payload = global.get('ballchk');\nreturn msg;\n","outputs":1,"noerr":0,"x":549.2976608276367,"y":1090.0711669921875,"wires":[["7be0ce5b.3ced7"]]},{"id":"9b522a78.40bc58","type":"function","z":"e373b426.d0aae8","name":"ballchk test","func":"global.set('ballchk', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":1266.869010925293,"y":1096.3572998046875,"wires":[[]]},{"id":"340f28a0.5fcb68","type":"vis in","z":"e373b426.d0aae8","language":"en","x":367.25,"y":201.71426105499268,"wires":[["2f53ba94.4d9516","7b4b5949.8c5998","5737278e.0eafd8"]]},{"id":"bca253f3.07373","type":"vis in","z":"e373b426.d0aae8","language":"en","x":454.25,"y":463.7142610549927,"wires":[["233509ad.947fe6","5a778e99.a0757","5eca1371.8581cc"]]},{"id":"731f8a2b.4fc4a4","type":"vis in","z":"e373b426.d0aae8","language":"en","x":584.25,"y":697.7142610549927,"wires":[[]]},{"id":"f3f4337e.b2848","type":"vis in","z":"e373b426.d0aae8","language":"en","x":904.8214340209961,"y":912.4285736083984,"wires":[["48646e9.09c7f9","be06498c.5d7d08","d6994df7.fa0fa","7be0ce5b.3ced7"]]},{"id":"735dbff5.23013","type":"comment","z":"e373b426.d0aae8","name":"Variable List","info":"var start_stop = global.get ('start_stop')||0;\nvar man_control = global.get ('man_control')||0;\nvar test_mode = global.get ('test_mode')||0;\nvar demo_mode = global.get ('demo_mode')||0;\nvar alarm = global.get ('alarm') || 0;\nvar blwr = global.get ('blwr') || 0;\nvar speed = global.get ('speed')|| 0;\nvar flt = global.get ('flt') || 0;\nvar count = global.get ('count') || 0;\n//var permPres = global.get ('permPres') || 2.5;\n//var actPres = global.get ('actPres') || 0;\n//var setPres = global.get ('setPres') || 5.5;\n//var permPlo = global.get ('permPlo') || 0;\n//var permPhi = global.get ('permPhi') || 0;\n//var permDirt = global.get ('permDirt') || 0;\n//var oldPlo = global.get ('oldPlo') || 3.5;\n//var oldPhi = global.get ('oldPhi') || 7.5;\n//var oldFilt = global.get ('oldFilt') || 2.5;\n//var setFilt = global.get ('setFilt') || 1.25;\n//var actFilt = global.get ('actFilt') || 0;\n//var permFilt = global.get ('permFilt') || 0.2;\nvar begin = global.get ('begin') || 0;\nvar step1 = global.get ('step1' ) || 0;\nvar step2 = global.get ('step2' ) || 0;\nvar step3 = global.get ('step3' ) || 0;\nvar step4 = global.get ('step4' ) || 0;\nvar step5 = global.get ('step5' ) || 0;\nvar step6 = global.get ('step6' ) || 0;\nvar step7 = global.get ('step7' ) || 0;\nvar gate = global.get ('gate' ) || 0;\nvar table = global.get ('table' ) || 0;\nvar filterlife = global.get ('filterlife' ) || 0;\nvar ballvalve = global.get ('ballvalve' ) || 0;\nvar gate2 = global.get ('gate2' ) || 0;\nvar table2 = global.get ('table2' ) || 0;\nvar filterlife2 = global.get ('filterlife2' ) || 0;\nvar ballvalve = global.get ('ballchk' ) || 0;\nvar reset = global.get ('reset' ) || 0;\nvar phase = global.get ('phase' ) || 1;\nvar dynFill = global.get ('dynFill' ) || 0;\nvar scott = global.get ('scott') || 0;\nvar tune = global.get ('tune') || 0;\nvar setPhi = global.get ('setPhi') || 1.5;\nvar setPlo = global.get ('setPlo') || 1.5;\nvar setDirt = global.get ('setDirt') || 0.75;\nvar phase_check = global.get ('phase_check') || 1;\n\nvar test = global.set ('test', 1);\nvar alarm = global.set ('alarm', 0);\nvar sys = global.set ('sys', 0);\nvar flt = global.set ('flt', 0);\nvar wtr = global.set ('wtr',  0);\nvar blwr = global.set ('blwr', 0);\nvar count = global.set ('count', 0);\n//var permPres = global.set ('permPres', 5.5);\n//var setPres = global.set ('setPres', 5.5);\nvar actPres = global.set ('actPres', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar permPhi = global.set ('permPhi', 0);\n//var permFilt = global.set ('permFilt', 0.2);\n//var oldPlo = global.set ('oldPlo', 3.5);\n//var oldPhi = global.set ('oldPhi', 7.5);\n//var oldFilt = global.set ('oldFilt', 2.5);\n//var setFilt = global.set ('setFilt', 0.25);\nvar actFilt = global.set ('actFilt', 0);\nvar permDirt = global.set ('permDirt', 0);\nvar begin = global.set ('begin', 0);\nvar begin = global.set ('begin2', 0);\nvar step1 = global.set ('step1', 0);\nvar step2 = global.set ('step2', 0);\nvar step3 = global.set ('step3', 0);\nvar step4 = global.set ('step4', 0);\nvar step5 = global.set ('step5', 0);\nvar step6 = global.set ('step6', 0);\nvar step7 = global.set ('step7', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar gate = global.set ('gate', 0);\nvar table = global.set ('table', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar gate = global.set ('gate2', 0);\nvar table = global.set ('table2', 0);\nvar filterlife2 = global.set ('filterlife2', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar reset = global.set ('reset', 0);\nvar test_mode = global.set ('test_mode', 0);\nvar phase = global.set ('phase', 1);\nvar dynFill = global.set ('dynFill', 0);\nvar scott = global.set ('scott', 3);\nvar tune = global.set ('tune', 0);\nvar newval1 = global.set ('newval1', 0);\nvar newval2 = global.set ('newval2', 0);\nvar newval3 = global.set ('newval3', 0);\nvar setPhi = global.set ('setPhi', 1.5);\nvar setPlo = global.set ('setPlo', 1.5);\nvar setDirt = global.set ('setDirt', 0.75);\nvar demo_mode = global.set ('demo_mode', 0);\nvar Phicount = global.set ('Phicount', 0);\nvar Plocount = global.set ('Plocount', 0);\nvar Dirtcount = global.set ('Dirtcount', 0);\nvar Timedoutcount = global.set ('Timedoutcount', 0);","x":342.82140350341797,"y":76.85714149475098,"wires":[]},{"id":"845103d1.bf762","type":"comment","z":"e373b426.d0aae8","name":"FLOW VARIABLES","info":"'test' = TEST MODE STATUS; 0 - on; 1 - off\n'wtr' = MAN FILL STATUS;1 - on; 0 - off;\n'sys' = ALARM STATUS;1 - lo; 2 - hi; 3 - dirty fltr\n'blwr' = BLOWER STATUS; 0 - off; 1 - on;\n'setPres' = SCRUB SET POINT WATER CONTROL;\n'actPres' = ACTUAL SCRUB PRESSURE;\n'dirtFilt' = FILTER DIRTY SET POINT;\n'actFilt' = ACTUAL FILTER PRESSURE;\n'oldPlo' = LOW WATER SHUT PRESSURE;\n'oldPhi' = HIGH WATER SHUT PRESSURE;","x":544.7500381469727,"y":75.80949783325195,"wires":[]},{"id":"9c96d91f.3eb058","type":"comment","z":"e373b426.d0aae8","name":"VIS TOPICS","info":"'speed' - BLOWER STATE;\n'test_mode' - TEST MODE STATUS;\n'man_control' - MAN WATER FILL ON/OFF TO/FROM HMI;\n'valve_state' - WATER VALVE STATUS;\n'system_state' - ALARM STATE;\n'scrub_pressure' - HYDROTRON SCRUBBER PRESSURE;\n'filter_pressure' - AFTER FILTER PRESSURE;\n'man_fill' - STATUS OF SWITCH ON HMI\n'start_stop' - SWITCH STATUS HMI 1 - ON 0 - OFF\n","x":724.4762191772461,"y":75,"wires":[]},{"id":"ee98811.5342d8","type":"function","z":"e373b426.d0aae8","name":"SET CALL VARIABLES 1","func":"var actFilt = global.set ('actFilt', 0);\nvar actPres = global.set ('actPres', 0);\nvar alarm = global.set ('alarm', 0);\nvar ballchk = global.set ('ballchk', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar begin = global.set ('begin', 0);\nvar blwr = global.set ('blwr', 0);\nvar demo_mode = global.set ('demo_mode',0);\nvar Dirtcount = global.set ('Dirtcount', 0);\nvar dynFill = global.set ('dynFill', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar flt = global.set ('flt', 0);\nvar gate = global.set ('gate', 0);\nvar man_control = global.set ('man_control', 0);\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":983.7499923706055,"y":529,"wires":[[]]},{"id":"b69da525.ec63b8","type":"function","z":"e373b426.d0aae8","name":"SET CALL VARIABLES 3","func":"var speed = global.set ('speed', 0);\nvar start_stop = global.set ('start_stop',0);\nvar step1 = global.set ('step1' , 0);\nvar step2 = global.set ('step2' , 0);\nvar step3 = global.set ('step3' , 0);\nvar step4 = global.set ('step4' , 0);\nvar step5 = global.set ('step5' , 0);\nvar step6 = global.set ('step6' , 0);\nvar step7 = global.set ('step7' , 0);\nvar table = global.set ('table' , 0);\nvar test_mode = global.set ('test_mode', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar Timedoutcount = global.set ('Timedoutcount', 0);\nvar tune = global.set ('tune', 0);\nvar manfill = global.set('manfill', 0);\nvar reset = global.set ('reset', 0);\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":982.7499923706055,"y":628,"wires":[[]]},{"id":"589e459a.b70ffc","type":"vis in","z":"e373b426.d0aae8","language":"en","x":162.74999237060547,"y":1590,"wires":[["ee9a475e.b202f8","25672c87.9f2ed4","56587641.0db8c8","1a8a96b6.30e1e9","b30bc991.2316a8"]]},{"id":"ee9a475e.b202f8","type":"switch","z":"e373b426.d0aae8","name":"set topic permPhi","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"permPhi","vt":"str"}],"checkall":"true","outputs":1,"x":394.2616500854492,"y":1524.261962890625,"wires":[["9a3f9132.250f4"]]},{"id":"5623e277.6acefc","type":"function","z":"e373b426.d0aae8","name":"global set permPhi","func":"global.set('alarm',1);\nreturn;","outputs":1,"noerr":0,"x":829.976432800293,"y":1522.6663818359375,"wires":[[]]},{"id":"40947c2b.1760b4","type":"comment","z":"e373b426.d0aae8","name":"Manually set Alarm states from VIS for demo","info":"","x":687.2499923706055,"y":1437,"wires":[]},{"id":"25672c87.9f2ed4","type":"switch","z":"e373b426.d0aae8","name":"set topic permPlo","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"permPlo","vt":"str"}],"checkall":"true","outputs":1,"x":397.74999237060547,"y":1574,"wires":[["7a57a0f9.cd2ae"]]},{"id":"609d5673.13c978","type":"function","z":"e373b426.d0aae8","name":"global set permPlo","func":"global.set('alarm',2);\nreturn;","outputs":1,"noerr":0,"x":833.4647750854492,"y":1572.4044189453125,"wires":[[]]},{"id":"56587641.0db8c8","type":"switch","z":"e373b426.d0aae8","name":"set topic permDirt","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"permDirt","vt":"str"}],"checkall":"true","outputs":1,"x":396.74999237060547,"y":1623,"wires":[["364e1c6.4eb9be4"]]},{"id":"946bf8c7.0eef88","type":"function","z":"e373b426.d0aae8","name":"global set permDirt","func":"global.set('alarm',3);\nreturn;","outputs":1,"noerr":0,"x":832.4647750854492,"y":1621.4044189453125,"wires":[[]]},{"id":"1a8a96b6.30e1e9","type":"switch","z":"e373b426.d0aae8","name":"set topic timedout_alarm","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timedout_alarm","vt":"str"}],"checkall":"true","outputs":1,"x":413.74999237060547,"y":1672,"wires":[["a5ed01dd.946a3"]]},{"id":"722e946a.90ce6c","type":"function","z":"e373b426.d0aae8","name":"global set timedout_alarm","func":"global.set('alarm',4);\nreturn;","outputs":1,"noerr":0,"x":849.4647750854492,"y":1670.4044189453125,"wires":[[]]},{"id":"b30bc991.2316a8","type":"switch","z":"e373b426.d0aae8","name":"set topic phase","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"phase","vt":"str"}],"checkall":"true","outputs":1,"x":378.74999237060547,"y":1718,"wires":[["d3690ca9.c9924"]]},{"id":"a3eef0c1.b0e12","type":"function","z":"e373b426.d0aae8","name":"global set phase","func":"global.set('phase',0);\nreturn;","outputs":1,"noerr":0,"x":821.4647750854492,"y":1718.4044189453125,"wires":[[]]},{"id":"9a3f9132.250f4","type":"switch","z":"e373b426.d0aae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":600.2499923706055,"y":1516,"wires":[[],["5623e277.6acefc"]]},{"id":"7a57a0f9.cd2ae","type":"switch","z":"e373b426.d0aae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":599.7499923706055,"y":1577,"wires":[[],["609d5673.13c978"]]},{"id":"364e1c6.4eb9be4","type":"switch","z":"e373b426.d0aae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":603.7499923706055,"y":1627,"wires":[[],["946bf8c7.0eef88"]]},{"id":"a5ed01dd.946a3","type":"switch","z":"e373b426.d0aae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":617.7499923706055,"y":1674,"wires":[[],["722e946a.90ce6c"]]},{"id":"d3690ca9.c9924","type":"switch","z":"e373b426.d0aae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":619.7499923706055,"y":1720,"wires":[["a3eef0c1.b0e12"],[]]},{"id":"f5d94634.cda218","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"topic ","pt":"msg","to":"PS0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":492.2857971191406,"y":192.21428871154785,"wires":[["26ac0cff.c5fce4","3d677c84.2ecc84"]]},{"id":"cc57d529.a3df38","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"topic ","pt":"msg","to":"PS1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":512.8214340209961,"y":283.0357322692871,"wires":[["dada6112.f0f1e","be120c9b.fc0b1"]]},{"id":"b1c4e530.c90eb8","type":"inject","z":"140bfa15.10f126","name":"Auto Tune PULSE","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"x":142.5,"y":562.9643249511719,"wires":[["248d1f03.6baa8","998bf8e9.09a5c8","84590881.a6a0a8","f6202a17.76d818","8c36a5bc.e475c8","4035206b.c0746","d032788b.519ca8","6123c328.f8326c","29dac88c.498ba8","a356c74d.13ea38","681d80a0.c15ba","c0753bec.725608","df9268e4.c90628"]]},{"id":"3d677c84.2ecc84","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step4')===1) {\nglobal.set ('PS0', msg.payload );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":847.7977294921875,"y":192.6190643310547,"wires":[["98dbdb07.ba2638","ce0d768a.73d238"]]},{"id":"be120c9b.fc0b1","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step4')===1) {\nglobal.set ('PS1', msg.payload );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":868.9286422729492,"y":302.7976245880127,"wires":[["8c5ac21d.33c19","f6213152.362df"]]},{"id":"348275a4.f3af1a","type":"comment","z":"140bfa15.10f126","name":"Help Get Data","info":"Push to get the /myRootTest/currentTime a from the collection Test.\nThat time has been set by the set data.","x":705.8333435058594,"y":432.166663646698,"wires":[]},{"id":"e72fa769.4191f8","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":825.4166870117188,"y":480.76190090179443,"wires":[["1c5b5ab0.7821e5"]]},{"id":"8332316a.c5702","type":"comment","z":"140bfa15.10f126","name":"Help Get Data","info":"Push to get the /myRootTest/currentTime a from the collection Test.\nThat time has been set by the set data.","x":583.4523544311523,"y":477.40473651885986,"wires":[]},{"id":"d2e2a288.fe3fb","type":"function","z":"140bfa15.10f126","name":"global set PS0","func":"var PS0 = global.set ('PS0', msg.payload);\nreturn;","outputs":1,"noerr":0,"x":1284.6427307128906,"y":507.4999656677246,"wires":[[]]},{"id":"b731d0cd.b622f","type":"function","z":"140bfa15.10f126","name":"global set PS1","func":"var PS1 = global.set ('PS1', msg.payload);\nreturn;","outputs":1,"noerr":0,"x":1283.2143096923828,"y":656.5476503372192,"wires":[[]]},{"id":"340d1c1f.b55024","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":539.6429290771484,"y":519.1190891265869,"wires":[["e72fa769.4191f8"]]},{"id":"d955cc3b.b1fab","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":847.4524536132812,"y":590.5476207733154,"wires":[["a960b6d5.292478"]]},{"id":"26ac0cff.c5fce4","type":"function","z":"140bfa15.10f126","name":"actPres","func":"global.set ('actPres', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":717.2618732452393,"y":265.8333377838135,"wires":[[]]},{"id":"dada6112.f0f1e","type":"function","z":"140bfa15.10f126","name":"actFilt","func":"global.set ('actFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":768.9285049438477,"y":378.11901092529297,"wires":[[]]},{"id":"6123c328.f8326c","type":"function","z":"140bfa15.10f126","name":"global setPress","func":"global.set ('setPres', global.get('PS0'));\nreturn;","outputs":1,"noerr":0,"x":255.59534454345703,"y":201.30952978134155,"wires":[[]]},{"id":"52103b71.db7cd4","type":"DataIn","z":"140bfa15.10f126","collection":"fbb9db32.447f68","name":"","update":true,"path":"/SP0","x":1307.9285888671875,"y":91.07143020629883,"wires":[]},{"id":"66d252dc.b814dc","type":"DataIn","z":"140bfa15.10f126","collection":"9e2fae63.30cb9","name":"","update":false,"path":"/SP1","x":1380.0714473724365,"y":409.0714302062988,"wires":[]},{"id":"a960b6d5.292478","type":"DataOut","z":"140bfa15.10f126","collection":"9e2fae63.30cb9","name":"","path":"SP1","error":false,"x":1041.6428604125977,"y":521.2142868041992,"wires":[["b731d0cd.b622f"]]},{"id":"6f68389.2634ec8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":578.0714378356934,"y":553.6428756713867,"wires":[["d955cc3b.b1fab"]]},{"id":"1c5b5ab0.7821e5","type":"DataOut","z":"140bfa15.10f126","collection":"fbb9db32.447f68","name":"","path":"/SP0","error":false,"x":1039.6428604125977,"y":467.2142868041992,"wires":[["d2e2a288.fe3fb"]]},{"id":"98dbdb07.ba2638","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1106.4999504089355,"y":89.5,"wires":[["52103b71.db7cd4"]]},{"id":"8c5ac21d.33c19","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1133.6429595947266,"y":399.8809642791748,"wires":[["66d252dc.b814dc"]]},{"id":"ce0d768a.73d238","type":"delay","z":"140bfa15.10f126","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1363.9285746983119,"y":186.5000010899135,"wires":[["e72fa769.4191f8"]]},{"id":"f6213152.362df","type":"delay","z":"140bfa15.10f126","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1396.7856750488281,"y":310.78569316864014,"wires":[["d955cc3b.b1fab"]]},{"id":"998bf8e9.09a5c8","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step3')===1) {\nglobal.set ('PS1', 0 );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":410.35721588134766,"y":934.7143144607544,"wires":[["7f55dbf2.e020f4"]]},{"id":"248d1f03.6baa8","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step3')===1) {\nglobal.set ('PS0', 0 );\nmsg.payload = global.get('PS0');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":411.72628021240234,"y":896.3214416503906,"wires":[["9368ac86.09a43","b8e8163d.4bfeb8"]]},{"id":"a34ff24a.fa96c","type":"debug","z":"140bfa15.10f126","name":"","active":true,"console":"false","complete":"payload","x":965.3570709228516,"y":888.6428089141846,"wires":[]},{"id":"7f55dbf2.e020f4","type":"rbe","z":"140bfa15.10f126","name":"","func":"rbe","gap":"","start":"","inout":"out","x":825.3571662902832,"y":1009.3571720123291,"wires":[["d955cc3b.b1fab"]]},{"id":"9368ac86.09a43","type":"rbe","z":"140bfa15.10f126","name":"","func":"rbe","gap":"","start":"","inout":"out","x":672.5000032697403,"y":866.5000010899134,"wires":[["e72fa769.4191f8"]]},{"id":"b8e8163d.4bfeb8","type":"rbe","z":"140bfa15.10f126","name":"","func":"rbe","gap":"","start":"","inout":"out","x":802.5000076293945,"y":959.3571462631226,"wires":[["a34ff24a.fa96c"]]},{"id":"1aeae9f2.a8b3d6","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792.9760818481445,"y":1197.214171409607,"wires":[["7ccb851c.2cec9c","9c23712d.c0ac2"]]},{"id":"eebc0f60.36ccd","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":801.8808975219727,"y":1157.1190242767334,"wires":[["b4421324.8ca64","ae73ca41.5e8e68"]]},{"id":"cd6aca15.abdb68","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":564.642822265625,"y":1168.8809566497803,"wires":[["eebc0f60.36ccd"]]},{"id":"d27b4817.7abf48","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":558.3093643188477,"y":1218.6427278518677,"wires":[["1aeae9f2.a8b3d6"]]},{"id":"82466cff.7d32d","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":794.6427536010742,"y":1247.2141637802124,"wires":[["8897982.d2e1868","26888196.fdb0ee"]]},{"id":"a4f0ebeb.1355a8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":559.9760360717773,"y":1268.6427202224731,"wires":[["82466cff.7d32d"]]},{"id":"b4421324.8ca64","type":"DataIn","z":"140bfa15.10f126","collection":"cdbb0da2.d5d27","name":"","update":false,"path":"/SP02","x":1067.9762802124023,"y":1150.5476245880127,"wires":[]},{"id":"7ccb851c.2cec9c","type":"DataIn","z":"140bfa15.10f126","collection":"8d8bf6bc.600018","name":"","update":false,"path":"/SP03","x":1069.6427841186523,"y":1192.2142524719238,"wires":[]},{"id":"8897982.d2e1868","type":"DataIn","z":"140bfa15.10f126","collection":"7dd9887a.e2f028","name":"","update":false,"path":"/SP04","x":1071.3095321655273,"y":1245.54762840271,"wires":[]},{"id":"dda4852f.8c0388","type":"DataOut","z":"140bfa15.10f126","collection":"cdbb0da2.d5d27","name":"","path":"/SP02","error":false,"x":1007.9761238098145,"y":1368.8809652328491,"wires":[["d6982776.0c5c68"]]},{"id":"3f335eab.50a152","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":759.6427993774414,"y":1418.8809127807617,"wires":[["b2db4bf7.fac3e8"]]},{"id":"ea2a24f1.917388","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":768.5476150512695,"y":1378.7857656478882,"wires":[["dda4852f.8c0388"]]},{"id":"70a5f850.eb63f8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":531.3095397949219,"y":1390.547698020935,"wires":[["ea2a24f1.917388"]]},{"id":"21f40804.aae1c8","type":"change","z":"140bfa15.10f126","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":761.3094711303711,"y":1468.8809051513672,"wires":[["6563d99c.e8c698"]]},{"id":"b2db4bf7.fac3e8","type":"DataOut","z":"140bfa15.10f126","collection":"8d8bf6bc.600018","name":"","path":"/SP03","error":false,"x":1019.3095283508301,"y":1438.2142038345337,"wires":[["12a3d185.8bd0de"]]},{"id":"6563d99c.e8c698","type":"DataOut","z":"140bfa15.10f126","collection":"7dd9887a.e2f028","name":"","path":"/SP04","error":false,"x":1014.3095474243164,"y":1481.5476608276367,"wires":[["a26c7927.4877a8"]]},{"id":"53402939.16ad78","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":531.3094863891602,"y":1427.2142868041992,"wires":[["3f335eab.50a152"]]},{"id":"95b19362.2f0b8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":529.6428604125977,"y":1473.8809127807617,"wires":[["21f40804.aae1c8"]]},{"id":"84590881.a6a0a8","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldPhi');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":223.92850494384766,"y":1030.785680770874,"wires":[["eebc0f60.36ccd"]]},{"id":"f6202a17.76d818","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldPlo');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":225.35713958740234,"y":1072.2141819000244,"wires":[["1aeae9f2.a8b3d6"]]},{"id":"8c36a5bc.e475c8","type":"function","z":"140bfa15.10f126","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldFilt');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":232.49999618530273,"y":1115.071481704712,"wires":[["82466cff.7d32d"]]},{"id":"d6982776.0c5c68","type":"function","z":"140bfa15.10f126","name":"global set PS2","func":"var PS2 = global.set ('PS2', msg.payload);\nvar oldPhi = global.set ('oldPhi', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1466.309425354004,"y":1365.5476722717285,"wires":[[]]},{"id":"12a3d185.8bd0de","type":"function","z":"140bfa15.10f126","name":"global set PS3","func":"var PS3 = global.set ('PS3', msg.payload);\nvar oldPlo = global.set ('oldPlo', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1467.9761123657227,"y":1408.8809127807617,"wires":[[]]},{"id":"a26c7927.4877a8","type":"function","z":"140bfa15.10f126","name":"global set PS4","func":"var PS4 = global.set ('PS4', msg.payload);\nvar oldDirt = global.set ('oldFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1454.6428833007812,"y":1447.2142219543457,"wires":[[]]},{"id":"ae73ca41.5e8e68","type":"delay","z":"140bfa15.10f126","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":206.3095359802246,"y":1312.2143383026123,"wires":[["ea2a24f1.917388"]]},{"id":"9c23712d.c0ac2","type":"delay","z":"140bfa15.10f126","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":227.9761734008789,"y":1358.8809127807617,"wires":[["3f335eab.50a152"]]},{"id":"26888196.fdb0ee","type":"delay","z":"140bfa15.10f126","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":239.64286041259766,"y":1397.2142868041992,"wires":[["21f40804.aae1c8"]]},{"id":"4035206b.c0746","type":"function","z":"140bfa15.10f126","name":"actPres","func":"msg.payload = global.get ('actPres');\nreturn msg;","outputs":1,"noerr":0,"x":211.3690528869629,"y":156.63096046447754,"wires":[["f5d94634.cda218"]]},{"id":"d032788b.519ca8","type":"function","z":"140bfa15.10f126","name":"actFilt","func":"msg.payload = global.get ('actFilt');\nreturn msg;","outputs":1,"noerr":0,"x":224.642822265625,"y":236.59520530700684,"wires":[["cc57d529.a3df38"]]},{"id":"29dac88c.498ba8","type":"function","z":"140bfa15.10f126","name":"global get PS2","func":"msg.payload = global.get('PS2');\nmsg.topic = 'PS2';\nreturn msg;","outputs":1,"noerr":0,"x":1187.6428909301758,"y":794.1190719604492,"wires":[["1a1ecf44.1b14b1"]]},{"id":"a356c74d.13ea38","type":"function","z":"140bfa15.10f126","name":"global get PS3","func":"msg.payload = global.get('PS3');\nmsg.topic = 'PS3';\nreturn msg;","outputs":1,"noerr":0,"x":1198.6428909301758,"y":834.1190719604492,"wires":[["1a1ecf44.1b14b1"]]},{"id":"681d80a0.c15ba","type":"function","z":"140bfa15.10f126","name":"global get PS4","func":"msg.payload = global.get('PS4');\nmsg.topic = 'PS4';\nreturn msg;","outputs":1,"noerr":0,"x":1202.6428909301758,"y":881.1190719604492,"wires":[["1a1ecf44.1b14b1"]]},{"id":"c0753bec.725608","type":"function","z":"140bfa15.10f126","name":"global get PS0","func":"msg.payload = global.get('PS0');\nmsg.topic = 'PS0';\nreturn msg;","outputs":1,"noerr":0,"x":1180.6428909301758,"y":706.1190719604492,"wires":[["1a1ecf44.1b14b1"]]},{"id":"df9268e4.c90628","type":"function","z":"140bfa15.10f126","name":"global get PS1","func":"msg.payload = global.get('PS1');\nmsg.topic = 'PS1';\nreturn msg;","outputs":1,"noerr":0,"x":1185.2620315551758,"y":747.1666793823242,"wires":[["1a1ecf44.1b14b1"]]},{"id":"1be1f9f7.61def6","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":975.2857971191404,"y":52.5,"wires":[["52103b71.db7cd4","66d252dc.b814dc"]]},{"id":"c906a8ea.aa83a8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":906.9524040222168,"y":429.16663098335266,"wires":[["1c5b5ab0.7821e5"]]},{"id":"8be9783c.3aaec8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":891.9524230957031,"y":542.5,"wires":[["a960b6d5.292478"]]},{"id":"6e9ab6a0.2bb7f8","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":773.6191253662109,"y":1102.50004196167,"wires":[["b4421324.8ca64","7ccb851c.2cec9c","8897982.d2e1868"]]},{"id":"4093cb96.4f3e04","type":"inject","z":"140bfa15.10f126","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":790.2857360839844,"y":1320.833251953125,"wires":[["dda4852f.8c0388","b2db4bf7.fac3e8","6563d99c.e8c698"]]},{"id":"1a1ecf44.1b14b1","type":"vis in","z":"140bfa15.10f126","language":"en","x":1420,"y":786.5,"wires":[[]]},{"id":"6e77d1fb.2bfa5","type":"inject","z":"245557e0.e4eda8","name":"ALRM 0","topic":"system_state","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":67.5,"wires":[["572ed263.7fdb6c"]]},{"id":"71cb1e35.9aa1b","type":"inject","z":"245557e0.e4eda8","name":"ALRM 1","topic":"system_state","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":205.3333511352539,"y":105.83337068557739,"wires":[["572ed263.7fdb6c"]]},{"id":"2cf4a435.b136cc","type":"inject","z":"245557e0.e4eda8","name":"ALRM 2","topic":"system_state","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":208.66667938232422,"y":141.16675233840942,"wires":[["572ed263.7fdb6c"]]},{"id":"9b2742c8.ab37e","type":"inject","z":"245557e0.e4eda8","name":"blwr 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":206.66667938232422,"y":274.8333172798157,"wires":[["2dd9a7f8.52c628"]]},{"id":"eaca0df9.3b713","type":"inject","z":"245557e0.e4eda8","name":"blwr 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":210.00000762939453,"y":319.1666913032532,"wires":[["2dd9a7f8.52c628"]]},{"id":"2dd9a7f8.52c628","type":"function","z":"245557e0.e4eda8","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":405.99999237060547,"y":303.5000653266907,"wires":[[]]},{"id":"9e9db3f7.a164b","type":"inject","z":"245557e0.e4eda8","name":"blwr 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":213.3333511352539,"y":361.5000653266907,"wires":[["2dd9a7f8.52c628"]]},{"id":"9b5fe058.2b1e3","type":"inject","z":"245557e0.e4eda8","name":"blwr 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":211.99991607666016,"y":402.16666078567505,"wires":[["2dd9a7f8.52c628"]]},{"id":"d4eeaeb2.72a08","type":"inject","z":"245557e0.e4eda8","name":"ALRM 3","topic":"system_state","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":209.99999237060547,"y":175.83333253860474,"wires":[["572ed263.7fdb6c"]]},{"id":"7885f66d.651488","type":"inject","z":"245557e0.e4eda8","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":174.33333587646484,"y":585.4999885559082,"wires":[["fe49bc22.bcb8f","5ae72819.f14558","abbf09d6.f5e348","661383d4.1ec43c","c6482459.ba11a8","d9977cd9.24167","f8f8893c.9bdd48","381f69b9.2f5c96","5debb5f1.b10f8c","e19c8fb2.e116f","5b606694.72c878","7b480165.91ab1","c7b82758.f40fd8"]]},{"id":"36958297.5dec0e","type":"comment","z":"245557e0.e4eda8","name":"var","info":"var start_stop = global.get ('start_stop')||0;\nvar man_control = global.get ('man_control')||0;\nvar test_mode = global.get ('test_mode')||0;\nvar alarm = global.get ('alarm') || 0;\nvar blwr = global.get ('blwr') || 0;\nvar speed = global.get ('speed')|| 0;\nvar flt = global.get ('flt') || 1;\nvar count = global.get ('count') || 0;\nvar permPres = global.get ('permPres') || 2.5;\nvar actPres = global.get ('actPres') || 5.5;\nvar permPlo = global.get ('permPlo') || 3.5;\nvar permPhi = global.get ('permPhi') || 7.5;\nvar dirtFilt = global.get ('dirtFilt') || 2.5;\nvar permFilt = global.get ('permFilt') || 0.2;\nvar begin = global.get ('begin') || 0;\nvar step1 = global.get ('step1' ) || 0;\nvar step2 = global.get ('step2' ) || 0;\nvar step3 = global.get ('step3' ) || 0;\nvar step4 = global.get ('step4' ) || 0;\nvar step5 = global.get ('step5' ) || 0;\nvar step6 = global.get ('step6' ) || 0;\nvar step7 = global.get ('step7' ) || 0;\nvar gate = global.get ('gate' ) || 0;\nvar table = global.get ('table' ) || 0;\nvar filterlife = global.get ('filterlife' ) || 0;\nvar ballvalve = global.get ('ballvalve' ) || 0;\nvar gate2 = global.get ('gate2' ) || 0;\nvar table2 = global.get ('table2' ) || 0;\nvar filterlife2 = global.get ('filterlife2' ) || 0;\nvar ballvalve = global.get ('ballvalve' ) || 0;\nvar reset = global.get ('reset' ) || 0;\nvar test_mode = global.get ('test_mode' ) || 0;\nvar phase = global.get ('phase' ) || 1;\nvar scott = global.get ('scott') || 0;","x":162.6667251586914,"y":515.5000057220459,"wires":[]},{"id":"abbf09d6.f5e348","type":"function","z":"245557e0.e4eda8","name":"global get man_control","func":"msg.payload = global.get('man_control');\nmsg.topic = 'man_control';\nreturn msg;","outputs":1,"noerr":0,"x":617.7143096923828,"y":668.4047671556473,"wires":[["f992fd96.434ec"]]},{"id":"661383d4.1ec43c","type":"function","z":"245557e0.e4eda8","name":"global get test_mode","func":"msg.payload = global.get('test_mode');\nmsg.topic = 'test_mode';\nreturn msg;","outputs":1,"noerr":0,"x":631.3333358764648,"y":702.166660785675,"wires":[["f992fd96.434ec"]]},{"id":"9d3ea838.90a3f8","type":"function","z":"245557e0.e4eda8","name":"global get alarm","func":"msg.payload = global.get('alarm');\nmsg.topic = 'alarm';\nreturn msg;","outputs":1,"noerr":0,"x":966.3333854675293,"y":507.1666750907898,"wires":[["f992fd96.434ec"]]},{"id":"c6482459.ba11a8","type":"function","z":"245557e0.e4eda8","name":"global get blwr","func":"msg.payload = global.get('blwr');\nmsg.topic = 'blwr';\nreturn msg;","outputs":1,"noerr":0,"x":451.52376556396484,"y":848.6428570747375,"wires":[["c4a5c2bb.95947","b0bf1b79.f49288","f992fd96.434ec"]]},{"id":"c4a5c2bb.95947","type":"function","z":"245557e0.e4eda8","name":"global get speed","func":"if (global.get('blwr')===0) {global.set('speed', 'BLWR IDLE');}\nif (global.get('blwr')===1) {global.set('speed', 'BLWR WIND UP');}\nif (global.get('blwr')===2) {global.set('speed', 'FULL SPEED');}\nif (global.get('blwr')===3) {global.set('speed', 'BLWR SLOWING');}\nif (global.get('blwr')===4) {global.set('speed', 'BLWR LOCKED OFF');}\nmsg.payload = global.get('speed');\nmsg.topic = 'speed';\nreturn msg;","outputs":1,"noerr":0,"x":692.6667251586914,"y":811.6427699327469,"wires":[["f992fd96.434ec"]]},{"id":"381f69b9.2f5c96","type":"function","z":"245557e0.e4eda8","name":"global get flt","func":"msg.payload = global.get('flt');\nmsg.topic = 'flt';\nreturn msg;","outputs":1,"noerr":0,"x":460.33333587646484,"y":809.5000348091125,"wires":[["f992fd96.434ec"]]},{"id":"fe49bc22.bcb8f","type":"function","z":"245557e0.e4eda8","name":"global get begin","func":"msg.payload = global.get('begin');\nmsg.topic = 'begin';\nreturn msg;","outputs":1,"noerr":0,"x":638.8095321655273,"y":596.0715069770813,"wires":[["f992fd96.434ec"]]},{"id":"5467b2dc.9b29fc","type":"function","z":"245557e0.e4eda8","name":"global get phase","func":"msg.payload = global.get('phase');\nmsg.topic = 'phase';\nreturn msg;","outputs":1,"noerr":0,"x":951.666576385498,"y":442.8333010673523,"wires":[["f992fd96.434ec"]]},{"id":"f8f8893c.9bdd48","type":"function","z":"245557e0.e4eda8","name":"global get ballvalve","func":"msg.payload = global.get('ballvalve');\nmsg.topic = 'ballvalve';\nreturn msg;","outputs":1,"noerr":0,"x":469.99996185302734,"y":890.0713238716125,"wires":[["4463a54c.554ffc","f992fd96.434ec"]]},{"id":"9b7317ee.c7bc48","type":"inject","z":"245557e0.e4eda8","name":"FLOAT:Off 1","topic":"flt","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":213.78589248657227,"y":1607.4999432563782,"wires":[["36887e3c.c5c862"]]},{"id":"ae8643d4.81cea","type":"inject","z":"245557e0.e4eda8","name":"FLOAT:On 0","topic":"flt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":205.33350372314453,"y":1668.9761300086975,"wires":[["36887e3c.c5c862"]]},{"id":"36887e3c.c5c862","type":"function","z":"245557e0.e4eda8","name":"global set flt","func":"global.set('flt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":424.4049377441406,"y":1650.7976050376892,"wires":[[]]},{"id":"72f874f0.4afe3c","type":"function","z":"245557e0.e4eda8","name":"global set man_control","func":"global.set('man_control',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":861.0597763061523,"y":1169.499668598175,"wires":[[]]},{"id":"b51fa71c.7bdd28","type":"switch","z":"245557e0.e4eda8","name":"set topic man_control","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"man_control","vt":"str"}],"checkall":"true","outputs":1,"x":408.34500885009766,"y":1181.0952496528625,"wires":[["2cd7caf9.e79e36"]]},{"id":"5debb5f1.b10f8c","type":"function","z":"245557e0.e4eda8","name":"compare man_control, blwr, flt, alarm","func":"if (global.get('man_control')===1 && global.get ('flt')===1 && \nglobal.get ('blwr')===0 && global.get ('alarm')===0 && global.get ('tune')===0) {\nvar ballvalve = global.set ('ballvalve',1);\nmsg.payload = global.get ('ballvalve');\nmsg.topic = 'ballvalve';\nreturn msg;\n}\nelse \nif (global.get('dynFill')==1 && global.get ('blwr')===2 && global.get ('alarm')===0 && \nglobal.get ('tune')===0) {\nvar ballvalve = global.set ('ballvalve',1);\nmsg.payload = global.get ('ballvalve');\nmsg.topic = 'ballvalve';\nreturn msg;\n} else\nif (global.get('tune')===1) {\nmsg.payload = global.get ('ballvalve');\nmsg.topic = 'ballvalve';\nreturn msg;\n}\nglobal.set('ballvalve', 0 );\nmsg.payload = global.get ('ballvalve');\nmsg.topic = 'ballvalve';","outputs":1,"noerr":0,"x":657.1309432983398,"y":739.0832867622375,"wires":[["f992fd96.434ec"]]},{"id":"b70bbbe.6854748","type":"inject","z":"245557e0.e4eda8","name":"","topic":"man_control","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":240.33333587646484,"y":1035.8332867622375,"wires":[["2cd7caf9.e79e36"]]},{"id":"b130a7d4.e31648","type":"inject","z":"245557e0.e4eda8","name":"","topic":"man_control","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":211.14286041259766,"y":1084.2141461372375,"wires":[["2cd7caf9.e79e36"]]},{"id":"2cd7caf9.e79e36","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.2261581420898,"y":1174.08340883255,"wires":[["72f874f0.4afe3c"]]},{"id":"9cec47cf.2144e8","type":"inject","z":"245557e0.e4eda8","name":"START - ON","topic":"start_stop","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":245.3333282470703,"y":1327.166660785675,"wires":[["e26cd4af.9ac9e8"]]},{"id":"a8085f9a.7d9b1","type":"inject","z":"245557e0.e4eda8","name":"START OFF (STOP)","topic":"start_stop","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":232.09514617919922,"y":1363.4050641059875,"wires":[["e26cd4af.9ac9e8"]]},{"id":"e26cd4af.9ac9e8","type":"function","z":"245557e0.e4eda8","name":"global set START_STOP","func":"global.set('start_stop',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610.8928146362305,"y":1326.1428570747375,"wires":[["d10b29c3.f90c58"]]},{"id":"18103bb7.03aa74","type":"switch","z":"245557e0.e4eda8","name":"set topic start_stop","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start_stop","vt":"str"}],"checkall":"true","outputs":1,"x":400.71432876586914,"y":1226.785695195198,"wires":[["118927cd.d46ac8"]]},{"id":"cd21232a.9ba1f","type":"trigger","z":"245557e0.e4eda8","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"15","extend":false,"units":"s","reset":"99","name":"WIND UP TMR","x":1528.1907653808594,"y":976.928572177887,"wires":[["25bfbf7f.9cac6"]]},{"id":"7164f351.893b2c","type":"trigger","z":"245557e0.e4eda8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"2","extend":true,"units":"s","reset":"99","name":"blwer on","x":878.1428451538086,"y":1008.5711407661438,"wires":[["fb2304a7.ec3208","b4057782.ba8618"]]},{"id":"18f370ca.9e00cf","type":"function","z":"245557e0.e4eda8","name":"reset true","func":"global.set ('reset',99);\nreturn;","outputs":1,"noerr":0,"x":1252.392635345459,"y":1290.4521646499634,"wires":[[]]},{"id":"fb2304a7.ec3208","type":"rbe","z":"245557e0.e4eda8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1085.9999618530273,"y":986.4999737739563,"wires":[["17adbfe3.3eb57"]]},{"id":"25bfbf7f.9cac6","type":"function","z":"245557e0.e4eda8","name":"global set blwr","func":"global.set('blwr',2);\nreturn ;","outputs":1,"noerr":0,"x":1637.666591644287,"y":906.5000958442688,"wires":[[]]},{"id":"17adbfe3.3eb57","type":"switch","z":"245557e0.e4eda8","name":"1 up 0 dwn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1271.3333358764648,"y":976.4999737739563,"wires":[["cd21232a.9ba1f"],["d3b59043.a477a"]]},{"id":"40067164.c7736","type":"trigger","z":"245557e0.e4eda8","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"30","extend":false,"units":"s","reset":"99","name":"WIND DWN TMR","x":1532.7738914489746,"y":1071.47598695755,"wires":[["c0d91e8c.50ae4"]]},{"id":"bc9b4adf.2feab8","type":"change","z":"245557e0.e4eda8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4284286499023,"y":1207.547520160675,"wires":[["40067164.c7736","18f370ca.9e00cf","cd21232a.9ba1f"]]},{"id":"ee2f78dd.4e3778","type":"switch","z":"245557e0.e4eda8","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":627.2856063842773,"y":1211.9285016059875,"wires":[["bc9b4adf.2feab8"]]},{"id":"d3b59043.a477a","type":"function","z":"245557e0.e4eda8","name":"global set blwr","func":"global.set('blwr',3);\nreturn;","outputs":1,"noerr":0,"x":1527.3332176208496,"y":1026.4997906684875,"wires":[[]]},{"id":"c0d91e8c.50ae4","type":"function","z":"245557e0.e4eda8","name":"global set blwr","func":"global.set('blwr',0);\nreturn;","outputs":1,"noerr":0,"x":1631.1903953552246,"y":1144.4999127388,"wires":[[]]},{"id":"b0bf1b79.f49288","type":"switch","z":"245557e0.e4eda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","outputs":5,"x":594.0000343322754,"y":1017.1667433977127,"wires":[[],["7164f351.893b2c"],["7164f351.893b2c"],["40067164.c7736","d47ec14c.959fc"],["f992fd96.434ec"]]},{"id":"d10b29c3.f90c58","type":"function","z":"245557e0.e4eda8","name":"global check blwr","func":"var newmsg = msg.payload; var newmsg2 = global.get('blwr');\nif (newmsg2 ===0 && newmsg === 1) {global.set('blwr', 1)}\nif (newmsg2 ===0 && newmsg === 0) {global.set('blwr', 0)}\nif (newmsg2 ==1 && newmsg === 0) {global.set('blwr', 3)}\nif (newmsg2 ==2 && newmsg === 0) {global.set('blwr', 3)}\nif (newmsg2 ==3 && newmsg === 1) {global.set('blwr', 1)}\nif (newmsg2 ==3 && newmsg === 0) {global.set('blwr', 0)}\nif (global.get('reset')== 99 )  {global.set('blwr', 0)}\nmsg.payload = global.get('blwr');\nmsg.topic = 'blwr';\nreturn;","outputs":1,"noerr":0,"x":875.6667098999023,"y":1330.274082660675,"wires":[[]]},{"id":"d9977cd9.24167","type":"function","z":"245557e0.e4eda8","name":"global get man_fill","func":"if (global.get('man_control')===0) {global.set('man_fill', 'MAN FILL OFF');}\nif (global.get('man_control')==1) {global.set('man_fill', 'MAN FILL ON');}\nif (global.get('alarm') > 0) {global.set('man_fill', 'LOCKED OUT');}\nmsg.payload = global.get('man_fill');\nmsg.topic = 'man_fill';\nreturn msg;","outputs":1,"noerr":0,"x":551.0000228881836,"y":774.8332867622375,"wires":[["f992fd96.434ec"]]},{"id":"2ca9a3c7.96c3bc","type":"function","z":"245557e0.e4eda8","name":"global set valve_state","func":"if (global.get('ballvalve')===0) {global.set('valve_state', 'WATER OFF')}\nelse if (global.get('ballvalve')===1) {global.set('valve_state', 'WATER ADDING')}\nelse if (global.get('alarm')>0) {global.set('valve_state', 'LOCKED OUT')}\nmsg.payload = global.get('valve_state');\nmsg.topic = 'valve_state';\nreturn msg;","outputs":1,"noerr":0,"x":1119.3929061889648,"y":911.4642071723938,"wires":[["f992fd96.434ec"]]},{"id":"f65d763d.135648","type":"trigger","z":"245557e0.e4eda8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"3","extend":true,"units":"s","reset":"99","name":"valve off delay","x":889.0592880249023,"y":878.0119366645813,"wires":[["2ca9a3c7.96c3bc"]]},{"id":"4463a54c.554ffc","type":"switch","z":"245557e0.e4eda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":702.6308212280273,"y":913.9285626411438,"wires":[["f65d763d.135648"],["2ca9a3c7.96c3bc"]]},{"id":"a853464f.58d548","type":"function","z":"245557e0.e4eda8","name":"global set system_state","func":"if (global.get('blwr')===0) {global.set('system_state', 'ALARM IDLE');}\nif (global.get('blwr')===1) {global.set('system_state', 'SETTING ALARM');}\nif (global.get('blwr')===2) {global.set('system_state', 'OPERATION SAFE');}\nif (global.get('blwr')===3) {global.set('system_state', 'ALARM IN-ACTIVE');}\nif (global.get('blwr')===4) {global.set('system_state', 'TRIGGERED');}\nmsg.payload = global.get('system_state');\nmsg.topic = 'system_state';\nreturn msg;","outputs":1,"noerr":0,"x":949.333324432373,"y":408.1666750907898,"wires":[["f992fd96.434ec"]]},{"id":"5ae72819.f14558","type":"function","z":"245557e0.e4eda8","name":"global get start_stop","func":"msg.payload = global.get('start_stop');\nmsg.topic = 'start_stop';\nreturn msg;","outputs":1,"noerr":0,"x":624.2380599975586,"y":632.3096051216125,"wires":[["f992fd96.434ec"]]},{"id":"b5d035fe.fcdec8","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actPres","payload":"7.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":195.28570556640625,"y":2272.404531478882,"wires":[["b82779c0.3403e8"]]},{"id":"569f2c0b.5196e4","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actPres","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":213.9999771118164,"y":2091.8338718414307,"wires":[["b82779c0.3403e8"]]},{"id":"1b50f130.79acaf","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actPres","payload":"5.9","payloadType":"num","repeat":"","crontab":"","once":false,"x":195.61904907226562,"y":2147.5003757476807,"wires":[["b82779c0.3403e8"]]},{"id":"28eb4cbe.85e224","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actPres","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":213.23809051513672,"y":2317.0239429473877,"wires":[["b82779c0.3403e8"]]},{"id":"78472aa3.aae2e4","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actFilt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":224.0714340209961,"y":2397.8572788238525,"wires":[["b34673ae.064af"]]},{"id":"5449f677.01aa48","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actFilt","payload":"0.25","payloadType":"num","repeat":"","crontab":"","once":false,"x":230.7380828857422,"y":2437.524278640747,"wires":[["b34673ae.064af"]]},{"id":"313f893a.36d0e6","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actFilt","payload":"0.85","payloadType":"num","repeat":"","crontab":"","once":false,"x":238.7380828857422,"y":2476.524118423462,"wires":[["b34673ae.064af"]]},{"id":"b82779c0.3403e8","type":"function","z":"245557e0.e4eda8","name":"global set actPres","func":"global.set('actPres',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":421.3808822631836,"y":2309.547520160675,"wires":[[]]},{"id":"b34673ae.064af","type":"function","z":"245557e0.e4eda8","name":"global set actFilt","func":"global.set('actFilt',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":459.3333206176758,"y":2454.0713109970093,"wires":[[]]},{"id":"14ad4fbb.d20f3","type":"function","z":"245557e0.e4eda8","name":"determine demand for dyn water","func":"var setPress = global.get('setPres');\nvar actPress = global.get('actPres');\nvar diff = (setPress-actPress);\nif (diff >= 0.25 ) {dynFill = global.set ('dynFill', 1 );\nmsg.payload = diff; msg.topic = 'actPres';\n    return msg;\n}\nif (diff < 0.25 ) {dynFill = global.set ('dynFill', 0 );\nmsg.payload = diff;\n//msg.topic = 'actPres';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":844.0389022827148,"y":1651.1665387153625,"wires":[["5e619b9c.106ab4"]]},{"id":"1e2bee85.edbf41","type":"inject","z":"245557e0.e4eda8","name":"","topic":"actPres","payload":"7.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":188.85713958740234,"y":2211.6903505325317,"wires":[["b82779c0.3403e8"]]},{"id":"3377c01b.3a1e6","type":"function","z":"245557e0.e4eda8","name":"get dynFill","func":"msg.payload = global.get('dynFill');\nmsg.topic = 'dynFill';\nreturn msg;","outputs":1,"noerr":0,"x":914.4167098999023,"y":1688.4165387153625,"wires":[["5e619b9c.106ab4"]]},{"id":"9f94c509.113e28","type":"comment","z":"245557e0.e4eda8","name":"alrm 0 1 2 3 ","info":"0 - idle\n1 - hi press water oldPhi\n2 - lo press water oldPlo\n3 - dirtFilt dirtFilt","x":391.0000228881836,"y":105.50000429153442,"wires":[]},{"id":"8cd3139.82e22f","type":"comment","z":"245557e0.e4eda8","name":"blwr 0 1 2 3 ","info":"0 - idle\n1 - wind up\n2 - full speed\n3 - wind down","x":400.6666488647461,"y":258.16666078567505,"wires":[]},{"id":"c3035db4.731fc","type":"inject","z":"245557e0.e4eda8","name":"reboot!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":545.9999923706055,"y":62.166672229766846,"wires":[["f36e4873.11b858"]]},{"id":"f36e4873.11b858","type":"exec","z":"245557e0.e4eda8","command":"reboot #","addpay":false,"append":"","useSpawn":"","name":"reboot Pi","x":711.5000228881836,"y":62.708336353302,"wires":[[],[],[]]},{"id":"d8dff29b.64953","type":"function","z":"245557e0.e4eda8","name":"global get alarm state","func":"if (global.get('alarm')===0) {\n    global.set('permPhi', 0);\n    global.set('permPlo', 0);\n    global.set('permDirt', 0);\n    global.set('timedout_alarm', 0);\n    return;\n}\nif (global.get('alarm')===1) {global.set('permPhi', 1);\n    global.set('permPlo', 0);\n    global.set('permDirt', 0); \n    global.set('timedout_alarm', 0);\n    return;\n}\nif (global.get('alarm')===2) {global.set('permPlo', 1);\n    global.set('permDirt', 0);\n    global.set('permPhi', 0);\n    global.set('timedout_alarm', 0);\n    return;\n}\nif (global.get('alarm')===3) {global.set('permDirt', 1);\n    global.set('permPhi', 0);\n    global.set('permPlo', 0); \n    global.set('timedout_alarm', 0);\n    return;\n}\nif (global.get('alarm')===4) {global.set('timedout_alarm', 1);\n    global.set('permPhi', 0);\n    global.set('permPlo', 0); \n    global.set('permDirt', 0);\n    return;\n}\nreturn ;","outputs":1,"noerr":0,"x":909.6666488647461,"y":225.16653871536255,"wires":[[]]},{"id":"25e3697f.7f93c6","type":"function","z":"245557e0.e4eda8","name":"global get oldPhi","func":"msg.payload = global.get('oldPhi');\nmsg.topic = 'oldPhi';\nreturn msg;","outputs":1,"noerr":0,"x":896.6666488647461,"y":1733.833164691925,"wires":[["5e619b9c.106ab4"]]},{"id":"f4591926.ac6b68","type":"function","z":"245557e0.e4eda8","name":"global get oldPlo","func":"msg.payload = global.get('oldPlo');\nmsg.topic = 'oldPlo';\nreturn msg;","outputs":1,"noerr":0,"x":894.6666488647461,"y":1773.166660785675,"wires":[["5e619b9c.106ab4"]]},{"id":"7d0c725a.db063c","type":"function","z":"245557e0.e4eda8","name":"global get dirtFilt","func":"msg.payload = global.get('dirtFilt');\nmsg.topic = 'dirtFilt';\nreturn msg;","outputs":1,"noerr":0,"x":893.6666488647461,"y":1811.833164691925,"wires":[["5e619b9c.106ab4"]]},{"id":"6482224c.998aec","type":"inject","z":"245557e0.e4eda8","name":"blwr 4","topic":"blwr","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":214.33334350585938,"y":438.4999737739563,"wires":[["2dd9a7f8.52c628"]]},{"id":"e1d060e.9347aa","type":"function","z":"245557e0.e4eda8","name":"alarm lock out","func":"if (global.get ('alarm') > 0) {\nglobal.set ('blwr',4);\nglobal.set ('ballvalve', 0);\nglobal.set ('man_control', 0);\nglobal.set ('start_stop', 0);\nglobal.set ('valve_state', 'LOCKED OUT');\nglobal.set ('man_fill', 'LOCKED OUT');\nglobal.set ('dynFill', 0);\nreturn;\n}\nelse return;","outputs":1,"noerr":0,"x":881.9999656677246,"y":299.8333172798157,"wires":[[]]},{"id":"ff0ef715.26fd08","type":"function","z":"245557e0.e4eda8","name":"global get actPres","func":"//var newmsg = global.get('PS0');\n//global.set('actFilt',newmsg);\nmsg.payload = global.get('actPres');\nmsg.topic = 'actPres';\nreturn msg;","outputs":1,"noerr":0,"x":891.2380599975586,"y":1876.83340883255,"wires":[["5e619b9c.106ab4"]]},{"id":"77c338fa.ed6df8","type":"function","z":"245557e0.e4eda8","name":"global get actFilt","func":"//var newmsg = global.get('PS0') - global.get ('PS1');\n//var actFilt = global.set('actFilt',msg.payload);\nmsg.payload = global.get('actFilt');\nmsg.topic = 'actFilt';\nreturn msg;","outputs":1,"noerr":0,"x":894.4523544311523,"y":1913.952305316925,"wires":[["5e619b9c.106ab4"]]},{"id":"b4057782.ba8618","type":"switch","z":"245557e0.e4eda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1069.1905136108398,"y":1032.6904644966125,"wires":[["e58c94cf.6ec598"],[]]},{"id":"e58c94cf.6ec598","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1237.9047470092773,"y":1032.4048199653625,"wires":[["40067164.c7736"]]},{"id":"d47ec14c.959fc","type":"function","z":"245557e0.e4eda8","name":"global set blwr","func":"global.set('blwr',3);\nglobal.set('start_stop',0);\nreturn msg;","outputs":1,"noerr":0,"x":857.5833358764648,"y":1046.1190533638,"wires":[["f992fd96.434ec"]]},{"id":"118927cd.d46ac8","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":587.6190719604492,"y":1249.547520160675,"wires":[["d10b29c3.f90c58","e26cd4af.9ac9e8","4a29d01b.80f08"]]},{"id":"4a29d01b.80f08","type":"function","z":"245557e0.e4eda8","name":"start stop reset windup","func":"if (msg.payload === 0) {msg.payload = 99;\nreturn msg;\n}\nelse\nreturn;","outputs":1,"noerr":0,"x":864.0476303100586,"y":1249.1190533638,"wires":[["cd21232a.9ba1f"]]},{"id":"583848b7.067448","type":"function","z":"245557e0.e4eda8","name":"global set begin","func":"global.set('begin',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":875.3809432983398,"y":1499.642735004425,"wires":[["6cba17c4.0a8e48"]]},{"id":"6cba17c4.0a8e48","type":"function","z":"245557e0.e4eda8","name":"place holder begin","func":"msg.topic = \"begin\";\nreturn msg;","outputs":1,"noerr":0,"x":979.1547470092773,"y":1564.774082660675,"wires":[[]]},{"id":"446be5e6.566c5c","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.7264022827148,"y":1497.5234723091125,"wires":[["6cba17c4.0a8e48","583848b7.067448"]]},{"id":"cb286218.a7cb","type":"switch","z":"245557e0.e4eda8","name":"set topic begin","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":399.4881820678711,"y":1495.3330426216125,"wires":[["446be5e6.566c5c"]]},{"id":"811aafa.0e79a5","type":"inject","z":"245557e0.e4eda8","name":"","topic":"begin","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"x":203.3808822631836,"y":1508.3094830513,"wires":[["cb286218.a7cb"]]},{"id":"c37ac708.084978","type":"inject","z":"245557e0.e4eda8","name":"","topic":"begin","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.8808822631836,"y":1547.5594830513,"wires":[["cb286218.a7cb"]]},{"id":"cfee7dd8.0227c","type":"function","z":"245557e0.e4eda8","name":"autotune reset windup","func":"if (msg.payload === 0) {msg.payload = 99;\nreturn msg;\n}\nelse\nreturn;","outputs":1,"noerr":0,"x":862.3808822631836,"y":1289.3094830513,"wires":[["cd21232a.9ba1f"]]},{"id":"6bac36c7.e5cc08","type":"switch","z":"245557e0.e4eda8","name":"set topic begin","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":365.04759979248047,"y":1288.3094830513,"wires":[["cfee7dd8.0227c"]]},{"id":"f436bd57.537bf","type":"function","z":"245557e0.e4eda8","name":"set global alarm","func":"if (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('actPres')>= global.get('oldPhi')) {\n    global.set('alarm',1);\n    return;}\nelse\nif (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('actPres')<= global.get('oldPlo')) {\n    global.set('alarm',2);\n    return;}\nelse\nif (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('filter_pressure')>= global.get('oldFilt')) {\n    global.set('alarm',3);\n    return;}\nelse\nif (global.get('tune')===1 && global.get('timedout')===1) {\n    global.set('alarm',4);\n    return;}\nmsg.payload = global.get('alarm');\nmsg.topic = 'alarm';\nreturn msg;","outputs":1,"noerr":0,"x":958.833324432373,"y":474.1190676689148,"wires":[["f992fd96.434ec"]]},{"id":"572ed263.7fdb6c","type":"function","z":"245557e0.e4eda8","name":"global set alarm","func":"global.set('alarm',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":396.33333587646484,"y":141.11905336380005,"wires":[[]]},{"id":"331f4dea.dfbf72","type":"function","z":"245557e0.e4eda8","name":"global get permPhi","func":"msg.payload = global.get('permPhi');\nmsg.topic = 'permPhi';\nreturn msg;","outputs":1,"noerr":0,"x":898.3333358764648,"y":2001.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"e7479024.a212","type":"function","z":"245557e0.e4eda8","name":"global get permPlo","func":"msg.payload = global.get('permPlo');\nmsg.topic = 'permPlo';\nreturn msg;","outputs":1,"noerr":0,"x":895.3333358764648,"y":2040.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"3d7f974b.e5f628","type":"function","z":"245557e0.e4eda8","name":"global get permDirt","func":"msg.payload = global.get('permDirt');\nmsg.topic = 'permDirt';\nreturn msg;","outputs":1,"noerr":0,"x":896.3333358764648,"y":2078.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"264b845a.a8c81c","type":"function","z":"245557e0.e4eda8","name":"global get setFilt","func":"msg.payload = global.get('setFilt');\nmsg.topic = 'setFilt';\nreturn msg;","outputs":1,"noerr":0,"x":905.3333358764648,"y":1953.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"49d75b41.e23444","type":"function","z":"245557e0.e4eda8","name":"global get timedout_alarm","func":"msg.payload = global.get('timedout_alarm');\nmsg.topic = 'timedout_alarm';\nreturn msg;","outputs":1,"noerr":0,"x":875.7619247436523,"y":2118.40469789505,"wires":[["5e619b9c.106ab4"]]},{"id":"6f041bae.3e4924","type":"inject","z":"245557e0.e4eda8","name":"ALRM 4","topic":"system_state","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":209.33333587646484,"y":211.11905336380005,"wires":[["572ed263.7fdb6c"]]},{"id":"94d590ea.be8e6","type":"switch","z":"245557e0.e4eda8","name":"set topic test_mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"test_mode","vt":"str"}],"checkall":"true","outputs":1,"x":359.40474700927734,"y":1412.5832867622375,"wires":[["df3d586f.85c5a8"]]},{"id":"df3d586f.85c5a8","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.2618026733398,"y":1409.9286236763,"wires":[["2fa8a7b3.721cf8"]]},{"id":"2fa8a7b3.721cf8","type":"function","z":"245557e0.e4eda8","name":"global set test_mode","func":"global.set('test_mode',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":860.8332443237305,"y":1412.011875629425,"wires":[[]]},{"id":"3a9eeab3.3988f6","type":"switch","z":"245557e0.e4eda8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":587.8571739196777,"y":303.6645350456238,"wires":[["aba55f3d.fd98c"],["f436bd57.537bf","e1d060e.9347aa","d8dff29b.64953","ed2ed2ec.29848","5467b2dc.9b29fc","9d3ea838.90a3f8","a853464f.58d548","1d65d55f.88718b","fde0058d.d59048"]]},{"id":"aba55f3d.fd98c","type":"trigger","z":"245557e0.e4eda8","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"min","reset":"99","name":"","x":745.8333358764648,"y":190.11905336380005,"wires":[["61d6f8a6.84c1e8"]]},{"id":"61d6f8a6.84c1e8","type":"function","z":"245557e0.e4eda8","name":"global reset test_mode","func":"global.set('test_mode',0);\nreturn;","outputs":1,"noerr":0,"x":970.4761199951172,"y":142.26190328598022,"wires":[[]]},{"id":"cb0aa9ea.df0b78","type":"function","z":"245557e0.e4eda8","name":"global get setPhi","func":"msg.payload = global.get('setPhi');\nmsg.topic = 'setPhi';\nreturn msg;","outputs":1,"noerr":0,"x":861.3333358764648,"y":2164.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"78699ba4.05dc44","type":"function","z":"245557e0.e4eda8","name":"global get setPlo","func":"msg.payload = global.get('setPlo');\nmsg.topic = 'setPlo';\nreturn msg;","outputs":1,"noerr":0,"x":852.3333358764648,"y":2202.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"14d4b30e.2690fd","type":"function","z":"245557e0.e4eda8","name":"global get setDirt","func":"msg.payload = global.get('setDirt');\nmsg.topic = 'setDirt';\nreturn msg;","outputs":1,"noerr":0,"x":846.3333358764648,"y":2243.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"bafac330.ee4b7","type":"inject","z":"245557e0.e4eda8","name":"","topic":"phase_check","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":337.33333587646484,"y":944.1190533638,"wires":[["7331d7b5.ff2138"]]},{"id":"e185d087.ca549","type":"inject","z":"245557e0.e4eda8","name":"","topic":"phase_check","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":328.14286041259766,"y":991.4999127388,"wires":[["7331d7b5.ff2138"]]},{"id":"6f12b56f.3d63cc","type":"switch","z":"245557e0.e4eda8","name":"set topic phase_check","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"phase_check","vt":"str"}],"checkall":"true","outputs":1,"x":411.34500885009766,"y":1122.381016254425,"wires":[["7331d7b5.ff2138"]]},{"id":"7331d7b5.ff2138","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.2261619567871,"y":1132.3691754341125,"wires":[["f28133e4.49ce1"]]},{"id":"f28133e4.49ce1","type":"function","z":"245557e0.e4eda8","name":"global set phase_check","func":"global.set('phase_check',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":867.0597801208496,"y":1129.7854351997375,"wires":[[]]},{"id":"ed2ed2ec.29848","type":"change","z":"245557e0.e4eda8","name":"reset on 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":622.4761657714844,"y":134.40476751327515,"wires":[["aba55f3d.fd98c"]]},{"id":"e19c8fb2.e116f","type":"function","z":"245557e0.e4eda8","name":"global set system_state","func":"if (global.get('test_mode')===1) {global.set('system_state', 'TEST MODE');}\nif (global.get('demo_mode')===1) {global.set('system_state', 'DEMO MODE');}\nmsg.payload = global.get('system_state');\nmsg.topic = 'system_state';\nreturn msg;","outputs":1,"noerr":0,"x":606.3333358764648,"y":560.1190533638,"wires":[["f992fd96.434ec"]]},{"id":"5b606694.72c878","type":"function","z":"245557e0.e4eda8","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":541.3333358764648,"y":411.11905336380005,"wires":[["3a9eeab3.3988f6"]]},{"id":"8e29a1da.600f4","type":"switch","z":"245557e0.e4eda8","name":"set topic demo_mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"demo_mode","vt":"str"}],"checkall":"true","outputs":1,"x":420.6666488647461,"y":1444.1191536188126,"wires":[["33cb35ee.46416a"]]},{"id":"33cb35ee.46416a","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.1903610229492,"y":1450.4643902778625,"wires":[["e17a6d7f.c37fd"]]},{"id":"e17a6d7f.c37fd","type":"function","z":"245557e0.e4eda8","name":"global set demo_mode","func":"global.set('demo_mode',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":860.7617721557617,"y":1447.5476422309875,"wires":[[]]},{"id":"7b480165.91ab1","type":"function","z":"245557e0.e4eda8","name":"global get demo_mode","func":"msg.payload = global.get('demo_mode');\nmsg.topic = 'demo_mode';\nreturn msg;","outputs":1,"noerr":0,"x":592.3333396911621,"y":522.1190533638,"wires":[["f992fd96.434ec"]]},{"id":"b93b85bb.4f06c8","type":"function","z":"245557e0.e4eda8","name":"global get Phicount","func":"msg.payload = global.get('Phicount');\nmsg.topic = 'Phicount';\nreturn msg;","outputs":1,"noerr":0,"x":844.3333358764648,"y":2283.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"8778cd3c.20e61","type":"function","z":"245557e0.e4eda8","name":"global get Plocount","func":"msg.payload = global.get('Plocount');\nmsg.topic = 'Plocount';\nreturn msg;","outputs":1,"noerr":0,"x":847.3333358764648,"y":2326.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"3671a566.7814fa","type":"function","z":"245557e0.e4eda8","name":"global get Dirtcount","func":"msg.payload = global.get('Dirtcount');\nmsg.topic = 'Dirtcount';\nreturn msg;","outputs":1,"noerr":0,"x":846.3333358764648,"y":2373.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"6ba1be72.25bcc","type":"function","z":"245557e0.e4eda8","name":"global get Timedoutcount","func":"msg.payload = global.get('Timedoutcount');\nmsg.topic = 'Timedoutcount';\nreturn msg;","outputs":1,"noerr":0,"x":870.3333358764648,"y":2413.1190533638,"wires":[["5e619b9c.106ab4"]]},{"id":"f992fd96.434ec","type":"vis in","z":"245557e0.e4eda8","language":"en","x":1224.833339691162,"y":615.1190533638,"wires":[[]]},{"id":"a3e97a30.a4d4f8","type":"vis in","z":"245557e0.e4eda8","language":"en","x":88.83333969116211,"y":1193.1190533638,"wires":[["6f12b56f.3d63cc","b51fa71c.7bdd28","ee2f78dd.4e3778","18103bb7.03aa74","6bac36c7.e5cc08","94d590ea.be8e6","8e29a1da.600f4","cb286218.a7cb"]]},{"id":"5e619b9c.106ab4","type":"vis in","z":"245557e0.e4eda8","language":"en","x":1417.833339691162,"y":2020.1190533638,"wires":[[]]},{"id":"c7b82758.f40fd8","type":"function","z":"245557e0.e4eda8","name":"get phase_check","func":"msg.payload = global.get('phase_check');\nmsg.topic = 'phase_check';\nreturn msg;","outputs":1,"noerr":0,"x":612.3333396911621,"y":488.11905336380005,"wires":[["f992fd96.434ec"]]},{"id":"d77f1cd7.bc3cd","type":"inject","z":"245557e0.e4eda8","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":318.3333396911621,"y":1910.1190533638,"wires":[["14ad4fbb.d20f3","3377c01b.3a1e6","25e3697f.7f93c6","f4591926.ac6b68","7d0c725a.db063c","ff0ef715.26fd08","77c338fa.ed6df8","264b845a.a8c81c","331f4dea.dfbf72","e7479024.a212","3d7f974b.e5f628","49d75b41.e23444","cb0aa9ea.df0b78","78699ba4.05dc44","14d4b30e.2690fd","b93b85bb.4f06c8","8778cd3c.20e61","3671a566.7814fa","6ba1be72.25bcc"]]},{"id":"1d65d55f.88718b","type":"function","z":"245557e0.e4eda8","name":"phase lock out","func":"if (global.get ('phase')=== 0) {\nglobal.set ('blwr',4);\nglobal.set ('ballvalve', 0);\nglobal.set ('man_control', 0);\nglobal.set ('start_stop', 0);\nglobal.set ('valve_state', 'LOCKED OUT');\nglobal.set ('man_fill', 'LOCKED OUT');\nglobal.set ('dynFill', 0);\nreturn;\n}\nelse return;","outputs":1,"noerr":0,"x":895.5000114440918,"y":264.49998807907104,"wires":[[]]},{"id":"fde0058d.d59048","type":"function","z":"245557e0.e4eda8","name":"get phase alarm","func":"if (global.get ('phase') === 1)\n{\nmsg.payload = 1;\nreturn msg;\n} \nelse\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":906.5000114440918,"y":354.49998807907104,"wires":[["cd1d801d.3e36d"]]},{"id":"cd1d801d.3e36d","type":"switch","z":"245557e0.e4eda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1055.5000114440918,"y":350.49998807907104,"wires":[["487046d5.9ddb48"],["860b6f4c.0742e"]]},{"id":"860b6f4c.0742e","type":"change","z":"245557e0.e4eda8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1241.5000114440918,"y":391.49998807907104,"wires":[["487046d5.9ddb48"]]},{"id":"487046d5.9ddb48","type":"trigger","z":"245557e0.e4eda8","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":1250.0000114440918,"y":342.49998807907104,"wires":[["3fc7d900.7e53c8"]]},{"id":"3fc7d900.7e53c8","type":"function","z":"245557e0.e4eda8","name":"SET CALL VARIABLES","func":"var alarm = global.set ('alarm', 0);\nvar blwr = global.set ('blwr', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar permPhi = global.set ('permPhi', 0);\nvar permDirt = global.set ('permDirt', 0);\nvar begin = global.set ('begin', 0);\nvar step1 = global.set ('step1', 0);\nvar step2 = global.set ('step2', 0);\nvar step3 = global.set ('step3', 0);\nvar step4 = global.set ('step4', 0);\nvar step5 = global.set ('step5', 0);\nvar step6 = global.set ('step6', 0);\nvar step7 = global.set ('step7', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar gate = global.set ('gate', 0);\nvar table = global.set ('table', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar reset = global.set ('reset', 0);\nvar test_mode = global.set ('test_mode', 0);\nvar dynFill = global.set ('dynFill', 0);\nvar tune = global.set ('tune', 0);\nvar demo_mode = global.set ('demo_mode', 0);\nreturn msg;\n","outputs":"1","noerr":0,"x":1463.5000114440918,"y":338.49998807907104,"wires":[[]]},{"id":"56b2fd60.77cf84","type":"function","z":"b3ee3345.03148","name":"global get blwr","func":"if (global.get ('blwr') <= 2 && \nglobal.get ('blwr') >0) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":707.6666383743286,"wires":[["286264f2.7eda8c"]]},{"id":"dc7d7fa6.fc598","type":"function","z":"b3ee3345.03148","name":"global get ballvalve","func":"if (global.get ('ballvalve') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":296.71424865722656,"y":1033.1904287338257,"wires":[["cd9ed579.a89b48"]]},{"id":"8314c48e.9d6958","type":"inject","z":"b3ee3345.03148","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":160.4444465637207,"y":809.3333044052124,"wires":[["10c7efaa.d7605"]]},{"id":"286264f2.7eda8c","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":464,"y":706.6666383743286,"wires":[["62466419.27bf4c","66509dd6.b9c1f4","3120254.db550da"],["cf625bf2.b66b98","b5aec0e4.93f71"]]},{"id":"73ec11e3.39844","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1246,"y":726.6666383743286,"wires":[["4283ab93.d43604"]]},{"id":"414b686d.8a0458","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1196.8573303222656,"y":1117.8214826583862,"wires":[["2837d62c.cb7f9a"]]},{"id":"86752f80.1b9fd","type":"function","z":"b3ee3345.03148","name":"global set brtemp","func":"global.set('brtemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1044,"y":660.6666383743286,"wires":[[]]},{"id":"b1608ed9.2f098","type":"function","z":"b3ee3345.03148","name":"Reset runtime variables","func":"var brtemp = global.set ('brtemp', 0);\nvar brperm = global.set ('brperm', 0);\nvar blwrcount = global.set ('blwrcount', 0);\nvar bvtemp = global.set ('bvtemp', 0);\nvar bvperm = global.set ('bvperm', 0);\nvar bvcount = global.set ('bvcount', 0);\nvar Phicount = global.set ('Phicount', 0);\nvar Plocount = global.set ('Plocount', 0);\nvar Dirtcount = global.set ('Dirtcount', 0);\nvar Timedoutcount = global.set ('Timedoutcount', 0);\nreturn msg; \n","outputs":"1","noerr":0,"x":462.22634506225586,"y":1420.5710563659668,"wires":[["b82f2c55.e2ad5","27bfccff.af61e4","bfb3989c.268728","b9bb2bba.815118","c6908951.6e7d08","4989aa97.1378f4","f8db9422.ae6798","852e39ac.c816d8"]]},{"id":"8faabe3b.6258","type":"switch","z":"b3ee3345.03148","name":"reset runtimes on factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreseet","vt":"str"}],"checkall":"true","outputs":1,"x":267.1905822753906,"y":1509.1426544189453,"wires":[["b1608ed9.2f098"]]},{"id":"4c1a34da.2fed6c","type":"function","z":"b3ee3345.03148","name":"global set blwrcount","func":"var temp = global.get('blwrcount') - (-1);\nvar blwrcount = global.set('blwrcount', temp);\nmsg.payload = global.get('blwrcount');\nreturn msg;","outputs":1,"noerr":0,"x":1009,"y":705.6666383743286,"wires":[["73ec11e3.39844"]]},{"id":"93e98335.6b103","type":"function","z":"b3ee3345.03148","name":"global set brtemp","func":"var brtemp = global.set('brtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":911,"y":854.6666383743286,"wires":[["83b05a20.c400f8"]]},{"id":"b7d0eee3.243c6","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.285888671875,"y":147.52386474609375,"wires":[["922a4a59.adc138"]]},{"id":"f0578989.a752e8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.8572998046875,"y":207.38096618652344,"wires":[["ddaaf215.67f17"]]},{"id":"7aaad581.8f6ecc","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvpermhrs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1063.3216247558594,"y":196.88101196289062,"wires":[["69ad8b6b.679064"]]},{"id":"8f4b9599.e42fc8","type":"function","z":"b3ee3345.03148","name":"global set brperm","func":"var temp = global.get('brperm') -( -global.get('brtemp')); \nvar brperm = global.set('brperm',temp);\nmsg.payload = global.get('brperm');\nreturn msg;","outputs":1,"noerr":0,"x":918,"y":797.6666383743286,"wires":[["44f59c66.75e244"]]},{"id":"44f59c66.75e244","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1204,"y":800.6666383743286,"wires":[["50f2f9be.3ed098"]]},{"id":"bb36820d.2c303","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":573.5716552734375,"y":274.9524230957031,"wires":[["c8a2a214.d8337"]]},{"id":"6e0f1e07.36412","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"blwrcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.3573608398438,"y":278.55958557128906,"wires":[["69ad8b6b.679064"]]},{"id":"827c479f.b56df8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":572.5715522766113,"y":314.95234870910645,"wires":[["422485eb.914b7c"]]},{"id":"e2273265.b5eba","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":932.0359077453613,"y":316.30952644348145,"wires":[["69ad8b6b.679064"]]},{"id":"f4ca0155.223a7","type":"function","z":"b3ee3345.03148","name":"global set bvcount","func":"var temp = global.get('bvcount') - (-1);\nvar bvcount = global.set('bvcount', temp);\nmsg.payload = global.get('bvcount');\nreturn msg;","outputs":1,"noerr":0,"x":1030.9642639160156,"y":1034.1904382705688,"wires":[["6de1c577.8e692c"]]},{"id":"6de1c577.8e692c","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262.7142715454102,"y":1052.1904382705688,"wires":[["645a7f55.d4943"]]},{"id":"136d38d2.a20637","type":"inject","z":"b3ee3345.03148","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":267.19057846069336,"y":1385.142650604248,"wires":[["b1608ed9.2f098"]]},{"id":"b82f2c55.e2ad5","type":"function","z":"b3ee3345.03148","name":"global get blwrcount","func":"msg.payload = global.get('blwrcount');\nmsg.topic = 'blwrcount';\nreturn msg;","outputs":1,"noerr":0,"x":757.1905784606934,"y":1380.142650604248,"wires":[["5f7d0c4a.5677a4"]]},{"id":"27bfccff.af61e4","type":"function","z":"b3ee3345.03148","name":"global get brperm","func":"msg.payload = global.get('brperm');\nmsg.topic = 'brperm';\nreturn msg;","outputs":1,"noerr":0,"x":746.6191635131836,"y":1423.2855424880981,"wires":[["c2e97449.056588"]]},{"id":"bfb3989c.268728","type":"function","z":"b3ee3345.03148","name":"global get bvcount","func":"msg.payload = global.get('bvcount');\nmsg.topic = 'bvcount';\nreturn msg;","outputs":1,"noerr":0,"x":739.1906051635742,"y":1464.571237564087,"wires":[["4741fb34.8a9e24"]]},{"id":"b9bb2bba.815118","type":"function","z":"b3ee3345.03148","name":"global get bvperm","func":"msg.payload = global.get('bvperm');\nmsg.topic = 'bvperm';\nreturn msg;","outputs":1,"noerr":0,"x":742.1906280517578,"y":1502.2854194641113,"wires":[["5571b117.333e6"]]},{"id":"5f7d0c4a.5677a4","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1039.1905937194824,"y":1374.1426544189453,"wires":[["98e850fe.a67d6"]]},{"id":"c2e97449.056588","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021.1905937194824,"y":1417.1426544189453,"wires":[["57bf7b1e.e53424"]]},{"id":"4741fb34.8a9e24","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1015.1905975341797,"y":1461.2855243682861,"wires":[["2157e549.9cf82a"]]},{"id":"5571b117.333e6","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1009.9050979614258,"y":1502.9523754119873,"wires":[["8afe8d83.1107c"]]},{"id":"bdf9d515.90abd8","type":"inject","z":"b3ee3345.03148","name":"BLOWER 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":153,"y":580.6666383743286,"wires":[["381f3161.83ed3e"]]},{"id":"381f3161.83ed3e","type":"function","z":"b3ee3345.03148","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":488.76194763183594,"y":595.8690280914307,"wires":[[]]},{"id":"29b60768.d16ef8","type":"inject","z":"b3ee3345.03148","name":"BLOWER 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":153.8333282470703,"y":544.9999361038208,"wires":[["381f3161.83ed3e"]]},{"id":"d0a45f2.159dca","type":"inject","z":"b3ee3345.03148","name":"BLOWER 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":152,"y":617.6666383743286,"wires":[["381f3161.83ed3e"]]},{"id":"9f46f8a7.100f58","type":"inject","z":"b3ee3345.03148","name":"BLOWER 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":152,"y":653.6666383743286,"wires":[["381f3161.83ed3e"]]},{"id":"62466419.27bf4c","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":770.5,"y":691.6666383743286,"wires":[["4c1a34da.2fed6c"]]},{"id":"cf625bf2.b66b98","type":"trigger","z":"b3ee3345.03148","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":665,"y":768.6666383743286,"wires":[["8f4b9599.e42fc8","93e98335.6b103"]]},{"id":"66509dd6.b9c1f4","type":"counter","z":"b3ee3345.03148","inc":1,"name":"","x":667.5,"y":650.6666383743286,"wires":[["86752f80.1b9fd"]]},{"id":"83b05a20.c400f8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":852.5,"y":590.6666383743286,"wires":[["66509dd6.b9c1f4"]]},{"id":"3120254.db550da","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":581,"y":821.6666383743286,"wires":[["cf625bf2.b66b98"]]},{"id":"b5aec0e4.93f71","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":744,"y":729.6666383743286,"wires":[["62466419.27bf4c"]]},{"id":"98653a54.00d638","type":"counter","z":"b3ee3345.03148","inc":1,"name":"","x":683.7142562866211,"y":976.4404382705688,"wires":[["d81f9a2f.fa1e68"]]},{"id":"fe59e7c1.023828","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":868.7142562866211,"y":916.4404382705688,"wires":[["98653a54.00d638"]]},{"id":"a14d8d7c.01791","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":786.7142562866211,"y":1017.4404382705688,"wires":[["f4ca0155.223a7"]]},{"id":"29681b12.161db4","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760.2142562866211,"y":1055.4404382705688,"wires":[["a14d8d7c.01791"]]},{"id":"a98de473.178e88","type":"trigger","z":"b3ee3345.03148","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":681.2142562866211,"y":1094.4404382705688,"wires":[["4601938c.8f02ec","abcd6589.cab1b8"]]},{"id":"b990e880.6f2d88","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.2142562866211,"y":1147.4404382705688,"wires":[["a98de473.178e88"]]},{"id":"cd9ed579.a89b48","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":480.2142562866211,"y":1032.4404382705688,"wires":[["a14d8d7c.01791","98653a54.00d638","b990e880.6f2d88"],["a98de473.178e88","29681b12.161db4"]]},{"id":"d81f9a2f.fa1e68","type":"function","z":"b3ee3345.03148","name":"global set bvtemp","func":"global.set('bvtemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1060.214256286621,"y":986.4404382705688,"wires":[[]]},{"id":"4601938c.8f02ec","type":"function","z":"b3ee3345.03148","name":"global set bvperm","func":"var temp = global.get('bvperm') -( -global.get('bvtemp')); \nvar bvperm = global.set('bvperm',temp);\nmsg.payload = global.get('bvperm');\nreturn msg;","outputs":1,"noerr":0,"x":934.2142562866211,"y":1123.4404382705688,"wires":[["414b686d.8a0458"]]},{"id":"abcd6589.cab1b8","type":"function","z":"b3ee3345.03148","name":"global set bvtemp","func":"var bvtemp = global.set('bvtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":927.2142562866211,"y":1180.4404382705688,"wires":[["fe59e7c1.023828"]]},{"id":"aad50538.f344e8","type":"inject","z":"b3ee3345.03148","name":"Ball valve 1","topic":"ballvalve","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":172.35713958740234,"y":1192.7974996566772,"wires":[["ba399396.810d3"]]},{"id":"ba399396.810d3","type":"function","z":"b3ee3345.03148","name":"global set ballvalve","func":"global.set('ballvalve',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":383.47618865966797,"y":1172.6428327560425,"wires":[[]]},{"id":"d1f7298b.edfae8","type":"inject","z":"b3ee3345.03148","name":"Ball valve 0","topic":"ballvalve","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":161.04757690429688,"y":1123.0237531661987,"wires":[["ba399396.810d3"]]},{"id":"98e850fe.a67d6","type":"DataIn","z":"b3ee3345.03148","collection":"7283d585.e71dec","name":"","update":false,"path":"/BC","x":1225.690544128418,"y":1371.2856130599976,"wires":[]},{"id":"57bf7b1e.e53424","type":"DataIn","z":"b3ee3345.03148","collection":"ead59310.5540f","name":"","update":false,"path":"/BRperm","x":1226.6904945373535,"y":1413.5713081359863,"wires":[]},{"id":"2157e549.9cf82a","type":"DataIn","z":"b3ee3345.03148","collection":"15bbd325.70754d","name":"","update":false,"path":"/BVC","x":1210.976188659668,"y":1464.7141819000244,"wires":[]},{"id":"8afe8d83.1107c","type":"DataIn","z":"b3ee3345.03148","collection":"6ad73776.cbc2a8","name":"","update":false,"path":"/BVperm","x":1211.9762077331543,"y":1508.999948501587,"wires":[]},{"id":"4283ab93.d43604","type":"DataIn","z":"b3ee3345.03148","collection":"7283d585.e71dec","name":"","update":false,"path":"/BC","x":1423.4285888671875,"y":729.5238084793091,"wires":[]},{"id":"50f2f9be.3ed098","type":"DataIn","z":"b3ee3345.03148","collection":"ead59310.5540f","name":"","update":false,"path":"/BRperm","x":1388.7142791748047,"y":798.9523577690125,"wires":[]},{"id":"645a7f55.d4943","type":"DataIn","z":"b3ee3345.03148","collection":"15bbd325.70754d","name":"","update":false,"path":"/BVC","x":1442.2858581542969,"y":1051.04758644104,"wires":[]},{"id":"2837d62c.cb7f9a","type":"DataIn","z":"b3ee3345.03148","collection":"6ad73776.cbc2a8","name":"","update":false,"path":"/BVperm","x":1394.7143077850342,"y":1121.0476770401,"wires":[]},{"id":"c8a2a214.d8337","type":"DataOut","z":"b3ee3345.03148","collection":"7283d585.e71dec","name":"","path":"/BC","error":false,"x":756.7145385742188,"y":272.66673278808594,"wires":[["6e0f1e07.36412"]]},{"id":"922a4a59.adc138","type":"DataOut","z":"b3ee3345.03148","collection":"ead59310.5540f","name":"","path":"/BRperm","error":false,"x":758.8572692871094,"y":145.0952911376953,"wires":[["5bb85c83.d95304","b853a042.67762"]]},{"id":"ddaaf215.67f17","type":"DataOut","z":"b3ee3345.03148","collection":"6ad73776.cbc2a8","name":"","path":"/BVperm","error":false,"x":758.8572692871094,"y":206.80960083007812,"wires":[["45fbae9c.27a1f","81515029.d7758"]]},{"id":"422485eb.914b7c","type":"DataOut","z":"b3ee3345.03148","collection":"15bbd325.70754d","name":"","path":"/BVC","error":false,"x":754.8573188781738,"y":313.95242500305176,"wires":[["e2273265.b5eba"]]},{"id":"770b75e0.fb36fc","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.1428413391113,"y":1926.619060754776,"wires":[["5ab89554.4e913c"]]},{"id":"292f3626.9e729a","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.7142372131348,"y":2016.4761583805084,"wires":[["d0f763d9.9774b"]]},{"id":"c37f0725.90c558","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.4285850524902,"y":1882.0476248264313,"wires":[["97b7bc94.6230f"]]},{"id":"6bb20358.5d1edc","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.4284858703613,"y":1969.0475571155548,"wires":[["ce508c73.be9a5"]]},{"id":"97b7bc94.6230f","type":"DataOut","z":"b3ee3345.03148","collection":"7283d585.e71dec","name":"","path":"/BC","error":false,"x":778.5714988708496,"y":1880.7619183063507,"wires":[["547eba1d.617a04"]]},{"id":"5ab89554.4e913c","type":"DataOut","z":"b3ee3345.03148","collection":"ead59310.5540f","name":"","path":"/BRperm","error":false,"x":785.7142677307129,"y":1922.1904842853546,"wires":[["eff269da.9e8d48"]]},{"id":"d0f763d9.9774b","type":"DataOut","z":"b3ee3345.03148","collection":"6ad73776.cbc2a8","name":"","path":"/BVperm","error":false,"x":785.7141799926758,"y":2007.9047996997833,"wires":[["78fddab6.84d574"]]},{"id":"ce508c73.be9a5","type":"DataOut","z":"b3ee3345.03148","collection":"15bbd325.70754d","name":"","path":"/BVC","error":false,"x":775.7142639160156,"y":1965.0476278662682,"wires":[["fef2452c.7fc448"]]},{"id":"176647bd.62e368","type":"inject","z":"b3ee3345.03148","name":"","topic":"","payload":"startup","payloadType":"str","repeat":"","crontab":"","once":true,"x":250.64284133911133,"y":1871.619060754776,"wires":[["c37f0725.90c558","770b75e0.fb36fc","6bb20358.5d1edc","292f3626.9e729a","34b74148.7adede","83d97835.7b7698","36fcfac1.794f76","e2ca2cd3.24eed"]]},{"id":"547eba1d.617a04","type":"function","z":"b3ee3345.03148","name":"global set blwrcount","func":"var blwrcount = global.set('blwrcount', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":988.1428413391113,"y":1878.619060754776,"wires":[[]]},{"id":"eff269da.9e8d48","type":"function","z":"b3ee3345.03148","name":"global set brperm","func":"var brperm = global.set('brperm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":975.1428413391113,"y":1914.619060754776,"wires":[[]]},{"id":"78fddab6.84d574","type":"function","z":"b3ee3345.03148","name":"global set bvperm","func":"var bvperm = global.set('bvperm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":979.1428413391113,"y":2008.619060754776,"wires":[[]]},{"id":"fef2452c.7fc448","type":"function","z":"b3ee3345.03148","name":"global set bvcount","func":"var bvcount = global.set('bvcount', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":979.1428413391113,"y":1962.619060754776,"wires":[[]]},{"id":"835f09fe.e3f508","type":"inject","z":"b3ee3345.03148","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":221.33340454101562,"y":245.33345794677734,"wires":[["bb36820d.2c303","b7d0eee3.243c6","827c479f.b56df8","f0578989.a752e8","b0bae462.423568","ad3961c6.8ca97","d413ac1f.5a482","2af5cbf5.76dfb4"]]},{"id":"49b2e84f.5d6478","type":"comment","z":"b3ee3345.03148","name":"Send runtimes and counts to vis","info":"","x":818.1666564941406,"y":55,"wires":[]},{"id":"97b37ba3.4e5f08","type":"comment","z":"b3ee3345.03148","name":"Blower runtime and start counts","info":"","x":804.8333358764648,"y":540.3333263397217,"wires":[]},{"id":"17093aec.d29945","type":"comment","z":"b3ee3345.03148","name":"Ball Valve runtime and start counts","info":"","x":603.3333358764648,"y":902.3333263397217,"wires":[]},{"id":"413904db.b5d2ac","type":"comment","z":"b3ee3345.03148","name":"Factory reset runtimes and counts to 0","info":"","x":645.8333358764648,"y":1231.3333263397217,"wires":[]},{"id":"c118bf37.2f9d9","type":"comment","z":"b3ee3345.03148","name":"Read runtimes and counts from DB on startup","info":"","x":618.9761772155762,"y":1820.619045495987,"wires":[]},{"id":"4f307da9.3d70b4","type":"comment","z":"b3ee3345.03148","name":"Alarm counts","info":"","x":582.1904602050781,"y":2273.3333988189697,"wires":[]},{"id":"a617a85c.cc1728","type":"inject","z":"b3ee3345.03148","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":217.3333282470703,"y":2481.761953353882,"wires":[["e372cf6c.7e325","b08b5874.249298","a45b9f6c.f80ae","f7837e28.c7cc8"]]},{"id":"e372cf6c.7e325","type":"function","z":"b3ee3345.03148","name":"get Phi alarm","func":"if (global.get ('alarm') === 1)\n{\nmsg.payload = 1;\nreturn msg;\n} \nelse\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":462.7460021972656,"y":2335.666772842407,"wires":[["3bb83a11.8f1606"]]},{"id":"3bb83a11.8f1606","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":621.7460021972656,"y":2331.666772842407,"wires":[["11853168.e8bc6f"],["85b65956.723168"]]},{"id":"11853168.e8bc6f","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":816.2460021972656,"y":2323.666772842407,"wires":[["35fe9575.3ec92a"]]},{"id":"85b65956.723168","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":807.7460021972656,"y":2372.666772842407,"wires":[["11853168.e8bc6f"]]},{"id":"35fe9575.3ec92a","type":"function","z":"b3ee3345.03148","name":"global set Phicount","func":"var temp = global.get('Phicount') - (-1);\nvar Phicount = global.set('Phicount', temp);\nmsg.payload = global.get('Phicount');\nreturn msg;","outputs":1,"noerr":0,"x":1031.7460021972656,"y":2331.666772842407,"wires":[["c211d2ab.58ca"]]},{"id":"c211d2ab.58ca","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PHC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1256.7460021972656,"y":2364.666772842407,"wires":[["8ee14809.3c2098"]]},{"id":"8ee14809.3c2098","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/PHC","x":1426.1745910644531,"y":2364.523950576782,"wires":[]},{"id":"b08b5874.249298","type":"function","z":"b3ee3345.03148","name":"get Plo alarm","func":"if (global.get ('alarm') === 2)\n{\nmsg.payload = 1;\nreturn msg;\n} \nelse\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":454.6191215515137,"y":2444.047751426697,"wires":[["a912092b.07daa8"]]},{"id":"a912092b.07daa8","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":633.6191139221191,"y":2440.0477142333984,"wires":[["3fe82788.dc5308"],["f9ad3827.e62538"]]},{"id":"3fe82788.dc5308","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":828.1191139221191,"y":2432.0477142333984,"wires":[["370f8113.d9b2ee"]]},{"id":"f9ad3827.e62538","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":819.6191139221191,"y":2481.0477142333984,"wires":[["3fe82788.dc5308"]]},{"id":"370f8113.d9b2ee","type":"function","z":"b3ee3345.03148","name":"global set Plocount","func":"var temp = global.get('Plocount') - (-1);\nvar Plocount = global.set('Plocount', temp);\nmsg.payload = global.get('Plocount');\nreturn msg;","outputs":1,"noerr":0,"x":1043.6191139221191,"y":2440.0477142333984,"wires":[["6f4b38ad.a89358"]]},{"id":"6f4b38ad.a89358","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PLC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1268.6191139221191,"y":2473.0477142333984,"wires":[["c09bdb2f.a8f388"]]},{"id":"c09bdb2f.a8f388","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/PLC","x":1438.0477027893066,"y":2472.9048919677734,"wires":[]},{"id":"a45b9f6c.f80ae","type":"function","z":"b3ee3345.03148","name":"get permDirt alarm","func":"if (global.get ('alarm') === 3)\n{\nmsg.payload = 1;\nreturn msg;\n} \nelse\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":456.04761505126953,"y":2551.1905002593994,"wires":[["9465b5ad.577208"]]},{"id":"9465b5ad.577208","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":626.4762268066406,"y":2548.6191062927246,"wires":[["56d1f1cf.2792b"],["e44f63b4.1566d"]]},{"id":"56d1f1cf.2792b","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":825.2619552612305,"y":2543.4762840270996,"wires":[["ff09889a.8b5358"]]},{"id":"e44f63b4.1566d","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":816.7619552612305,"y":2592.4762840270996,"wires":[["56d1f1cf.2792b"]]},{"id":"ff09889a.8b5358","type":"function","z":"b3ee3345.03148","name":"global set Dirtcount","func":"var temp = global.get('Dirtcount') - (-1);\nvar Dirtcount = global.set('Dirtcount', temp);\nmsg.payload = global.get('Dirtcount');\nreturn msg;","outputs":1,"noerr":0,"x":1040.7619552612305,"y":2551.4762840270996,"wires":[["15cf5c0c.7c4864"]]},{"id":"15cf5c0c.7c4864","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/DC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1265.7619552612305,"y":2584.4762840270996,"wires":[["dc67ac0e.ebc2"]]},{"id":"dc67ac0e.ebc2","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/DC","x":1435.190544128418,"y":2584.3334617614746,"wires":[]},{"id":"f7837e28.c7cc8","type":"function","z":"b3ee3345.03148","name":"get timedout alarm","func":"if (global.get ('alarm') === 4)\n{\nmsg.payload = 1;\nreturn msg;\n} \nelse\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":447.47621154785156,"y":2651.1906728744507,"wires":[["68274160.aa44d"]]},{"id":"68274160.aa44d","type":"switch","z":"b3ee3345.03148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":623.6190719604492,"y":2652.90495967865,"wires":[["f7135b0f.5b73a8"],["8dc2bff3.a6be6"]]},{"id":"f7135b0f.5b73a8","type":"trigger","z":"b3ee3345.03148","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":818.1190719604492,"y":2644.90495967865,"wires":[["dcd35990.2e01c8"]]},{"id":"8dc2bff3.a6be6","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":809.6190719604492,"y":2693.90495967865,"wires":[["f7135b0f.5b73a8"]]},{"id":"dcd35990.2e01c8","type":"function","z":"b3ee3345.03148","name":"global set Timedoutcount","func":"var temp = global.get('Timedoutcount') - (-1);\nvar Timedoutcount = global.set('Timedoutcount', temp);\nmsg.payload = global.get('Timedoutcount');\nreturn msg;","outputs":1,"noerr":0,"x":1043.6191024780273,"y":2648.619174003601,"wires":[["d404c505.949da8"]]},{"id":"d404c505.949da8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/TOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1272.9048767089844,"y":2693.0478143692017,"wires":[["3c835a80.a22806"]]},{"id":"3c835a80.a22806","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/TOC","x":1438.0475578308105,"y":2691.4765253067017,"wires":[]},{"id":"83d97835.7b7698","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PLC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.4761772155762,"y":2116.9048120975494,"wires":[["dbe1ab93.4a98c8"]]},{"id":"e2ca2cd3.24eed","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/TOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.0475730895996,"y":2206.761909723282,"wires":[["88deecfd.517ee"]]},{"id":"34b74148.7adede","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PHC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.7619209289551,"y":2072.3333761692047,"wires":[["4b649d91.e69274"]]},{"id":"36fcfac1.794f76","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/DC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.7618217468262,"y":2159.3333084583282,"wires":[["d109ebc1.815658"]]},{"id":"4b649d91.e69274","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/PHC","error":false,"x":779.9048347473145,"y":2071.047669649124,"wires":[["fe678b53.be7878"]]},{"id":"dbe1ab93.4a98c8","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/PLC","error":false,"x":777.0476036071777,"y":2112.476235628128,"wires":[["7e1cdd55.af05d4"]]},{"id":"88deecfd.517ee","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/TOC","error":false,"x":777.0475158691406,"y":2198.1905510425568,"wires":[["e68b393e.91fe88"]]},{"id":"d109ebc1.815658","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/DC","error":false,"x":777.0475997924805,"y":2155.3333792090416,"wires":[["4e82ccbf.fe45f4"]]},{"id":"fe678b53.be7878","type":"function","z":"b3ee3345.03148","name":"global set Phicount","func":"var Phicount = global.set('Phicount', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":979.4761772155762,"y":2068.9048120975494,"wires":[[]]},{"id":"7e1cdd55.af05d4","type":"function","z":"b3ee3345.03148","name":"global set Plocount","func":"var Plocount = global.set('Plocount',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":976.4761772155762,"y":2104.9048120975494,"wires":[[]]},{"id":"e68b393e.91fe88","type":"function","z":"b3ee3345.03148","name":"global set Timedoutcount","func":"var Timedoutcount = global.set('Timedoutcount',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":979.0476036071777,"y":2198.9047644138336,"wires":[[]]},{"id":"4e82ccbf.fe45f4","type":"function","z":"b3ee3345.03148","name":"global set Dirtcount","func":"var Dirtcount = global.set('Dirtcount', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":980.4761772155762,"y":2152.9048120975494,"wires":[[]]},{"id":"57804c1d.a9dd24","type":"inject","z":"b3ee3345.03148","name":"Alarm 1","topic":"alarm","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":174.61905670166016,"y":2695.4762897491455,"wires":[["6544c92c.ea7618"]]},{"id":"6544c92c.ea7618","type":"function","z":"b3ee3345.03148","name":"global set alarm","func":"global.set('alarm',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":440.3809814453125,"y":2713.535816192627,"wires":[[]]},{"id":"d58b2884.a41228","type":"inject","z":"b3ee3345.03148","name":"Alarm 0","topic":"alarm","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":175.45238494873047,"y":2659.8095874786377,"wires":[["6544c92c.ea7618"]]},{"id":"1f1c6a56.cde176","type":"inject","z":"b3ee3345.03148","name":"Alarm 2","topic":"alarm","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":173.61905670166016,"y":2732.4762897491455,"wires":[["6544c92c.ea7618"]]},{"id":"3546d95.c244f26","type":"inject","z":"b3ee3345.03148","name":"Alarm 3","topic":"alarm","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":173.61905670166016,"y":2768.4762897491455,"wires":[["6544c92c.ea7618"]]},{"id":"c30ece3f.a50b","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PHC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1003.1905479431152,"y":1546.9047145843506,"wires":[["fa68dc8b.1216e"]]},{"id":"fa68dc8b.1216e","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/PHC","x":1185.4763298034668,"y":1551.0475549697876,"wires":[]},{"id":"4bc6e7e5.0552a8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PLC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1007.9208450317383,"y":1595.2856435775757,"wires":[["f6782b3e.bab228"]]},{"id":"f6782b3e.bab228","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/PLC","x":1180.2065887451172,"y":1599.4285354614258,"wires":[]},{"id":"a3f64212.f4fae","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/DC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1013.6350021362305,"y":1646.714282989502,"wires":[["4b1beea.0722e1"]]},{"id":"4b1beea.0722e1","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/DC","x":1183.063591003418,"y":1646.571460723877,"wires":[]},{"id":"a0c1ed82.8d77e","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/TOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1012.2065658569336,"y":1689.5714054107666,"wires":[["2d751ae3.4bba36"]]},{"id":"2d751ae3.4bba36","type":"DataIn","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","update":false,"path":"/TOC","x":1177.3492469787598,"y":1688.0001163482666,"wires":[]},{"id":"c6908951.6e7d08","type":"function","z":"b3ee3345.03148","name":"global get Phicount","func":"msg.payload = global.get('Phicount');\nmsg.topic = 'Phicount';\nreturn msg;","outputs":1,"noerr":0,"x":727.4762191772461,"y":1552.6190929412842,"wires":[["c30ece3f.a50b"]]},{"id":"4989aa97.1378f4","type":"function","z":"b3ee3345.03148","name":"global get Plocount","func":"msg.payload = global.get('Plocount');\nmsg.topic = 'Plocount';\nreturn msg;","outputs":1,"noerr":0,"x":726.9048042297363,"y":1595.7619848251343,"wires":[["4bc6e7e5.0552a8"]]},{"id":"f8db9422.ae6798","type":"function","z":"b3ee3345.03148","name":"global get Dirtcount","func":"msg.payload = global.get('Dirtcount');\nmsg.topic = 'Dirtcount';\nreturn msg;","outputs":1,"noerr":0,"x":719.476245880127,"y":1637.047679901123,"wires":[["a3f64212.f4fae"]]},{"id":"852e39ac.c816d8","type":"function","z":"b3ee3345.03148","name":"global get Timedoutcount","func":"msg.payload = global.get('Timedoutcount');\nmsg.topic = 'Timedoutcount';\nreturn msg;","outputs":1,"noerr":0,"x":742.4762687683105,"y":1674.7618618011475,"wires":[["a0c1ed82.8d77e"]]},{"id":"ad3961c6.8ca97","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PLC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000076293945,"y":400.66664028167725,"wires":[["e85cf95c.28bad8"]]},{"id":"2af5cbf5.76dfb4","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/TOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.571403503418,"y":490.52373790740967,"wires":[["f775c8b1.c98e38"]]},{"id":"b0bae462.423568","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/PHC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.2857513427734,"y":356.0952043533325,"wires":[["2bd3d3ef.34432c"]]},{"id":"d413ac1f.5a482","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/DC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.2856521606445,"y":443.09513664245605,"wires":[["c9ff5cfd.2c8a3"]]},{"id":"2bd3d3ef.34432c","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/PHC","error":false,"x":752.4286651611328,"y":354.80949783325195,"wires":[["81e23d44.b2a2d"]]},{"id":"e85cf95c.28bad8","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/PLC","error":false,"x":749.5714340209961,"y":396.23806381225586,"wires":[["9c7f696a.d170b8"]]},{"id":"f775c8b1.c98e38","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/TOC","error":false,"x":749.5713691711426,"y":489.95237922668457,"wires":[["3c50a2b2.b082de"]]},{"id":"c9ff5cfd.2c8a3","type":"DataOut","z":"b3ee3345.03148","collection":"845fc459.19ca08","name":"","path":"/DC","error":false,"x":749.5714302062988,"y":439.0952073931694,"wires":[["c0b3650d.455ed8"]]},{"id":"9c7f696a.d170b8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Plocount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":933.3333206176758,"y":395.66664028167725,"wires":[["69ad8b6b.679064"]]},{"id":"3c50a2b2.b082de","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Timedoutcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":932.5833129882812,"y":486.2737731933594,"wires":[["69ad8b6b.679064"]]},{"id":"81e23d44.b2a2d","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Phicount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":932.619010925293,"y":354.952335357666,"wires":[["69ad8b6b.679064"]]},{"id":"c0b3650d.455ed8","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Dirtcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":933.2975311279297,"y":439.70229291915894,"wires":[["69ad8b6b.679064"]]},{"id":"f4117b99.59d798","type":"inject","z":"b3ee3345.03148","name":"Alarm 4","topic":"alarm","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.99998474121094,"y":2816.66650390625,"wires":[["6544c92c.ea7618"]]},{"id":"69ad8b6b.679064","type":"vis in","z":"b3ee3345.03148","language":"en","x":1274.9444580078125,"y":334,"wires":[[]]},{"id":"45fbae9c.27a1f","type":"range","z":"b3ee3345.03148","minin":"0","maxin":"3600","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":904.4999694824219,"y":197,"wires":[["7aaad581.8f6ecc"]]},{"id":"b853a042.67762","type":"range","z":"b3ee3345.03148","minin":"0","maxin":"3600","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":903.0000305175781,"y":155,"wires":[["2e3c3f7b.618e3"]]},{"id":"2e3c3f7b.618e3","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"brpermhrs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1063.5717468261719,"y":152.2738800048828,"wires":[["69ad8b6b.679064"]]},{"id":"81515029.d7758","type":"range","z":"b3ee3345.03148","minin":"0","maxin":"60","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":903.0000305175781,"y":237,"wires":[["a0c9ad60.b34c7"]]},{"id":"a0c9ad60.b34c7","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvpermmins","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1062.8216247558594,"y":237.88101196289062,"wires":[["69ad8b6b.679064"]]},{"id":"c6b17338.19f08","type":"vis in","z":"b3ee3345.03148","language":"en","x":148.49996948242188,"y":1432.9999542236328,"wires":[["8faabe3b.6258"]]},{"id":"5bb85c83.d95304","type":"range","z":"b3ee3345.03148","minin":"0","maxin":"60","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":904.9999694824219,"y":113.72607421875,"wires":[["794f4cb5.3021b4"]]},{"id":"794f4cb5.3021b4","type":"change","z":"b3ee3345.03148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"brpermmins","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1063.9999694824219,"y":109.99995422363281,"wires":[["69ad8b6b.679064"]]},{"id":"ab3726e4.5b6cc8","type":"inject","z":"b3ee3345.03148","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":865.4999694824219,"y":633.9999542236328,"wires":[["86752f80.1b9fd"]]},{"id":"6c99e68b.8cba78","type":"inject","z":"b3ee3345.03148","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":928.4999694824219,"y":953.9999542236328,"wires":[["d81f9a2f.fa1e68"]]},{"id":"10c7efaa.d7605","type":"delay","z":"b3ee3345.03148","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":265.4999694824219,"y":879.9999542236328,"wires":[["56b2fd60.77cf84","dc7d7fa6.fc598"]]},{"id":"9f82589.75955a8","type":"debug","z":"d30ba9ad.c4fcc8","name":"","active":false,"console":"false","complete":"false","x":428.33331298828125,"y":23.333332061767578,"wires":[]},{"id":"a76b0d8e.9a297","type":"vis in","z":"884ccfec.25997","language":"en","x":176,"y":117,"wires":[["c633ffe1.fc6dc"]]},{"id":"c633ffe1.fc6dc","type":"switch","z":"884ccfec.25997","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"remote_connection","vt":"str"}],"checkall":"true","outputs":1,"x":337,"y":116,"wires":[["52f44ff7.1b4b7","7604e7a2.d9a6e8"]]},{"id":"7604e7a2.d9a6e8","type":"exec","z":"884ccfec.25997","command":"sudo vncserver","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":529,"y":119.5,"wires":[[],[],[]]},{"id":"52f44ff7.1b4b7","type":"debug","z":"884ccfec.25997","name":"","active":true,"console":"false","complete":"false","x":525,"y":216,"wires":[]},{"id":"f4bac14.2973d4","type":"trigger","z":"d30ba9ad.c4fcc8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":74,"y":323,"wires":[["36e3574c.5845d8"]]}]
